<!-- Footer-->
<section class="footer d-print-none dark-theme" id="footer">
  <div class="footer-content row justify-content-center boxed ">
    <div class="item mb-2 col-sm-12 col-md-4 col-lg-4" *ngFor="let column of columns">

      <h5 class="footer-title" [innerHTML]="column.title"></h5>

      <ng-container *ngIf="column.links && column.links.length > 0">
        <ng-container *ngFor="let link of column.links">
          <a class="item-link d-block" *ngIf="link.target; else routingInside"
             [href]="link.route | ngxLink" [target]="link.target">
            <i class="item-icon" *ngIf="link.icon" [ngClass]=link.icon></i>
            <span class="footer-link" [innerHTML]="link.text"></span>
          </a>

          <ng-template #routingInside>
            <a class="item-link d-block" [routerLink]="link.route">
              <i class="item-icon" *ngIf="link.icon" [ngClass]=link.icon></i>
              <span class="footer-link" [innerHTML]="link.text"></span>
            </a>

          </ng-template>
        </ng-container>

      </ng-container>

      <div class="text" *ngIf="column.text" [innerHTML]="column.text">
      </div>

    </div>
  </div>

  <!-- Footer - Copyright -->
  <div *ngIf="displayCopyright" class="footer-copyrights pb-3 bg-dark">
    <div class="footer-content boxed">
      <div class="row">
        <div class="col-md-12">
          <span class="item-info"> <i aria-hidden="true"
                                      class="fa fa-copyright"></i> Juegolandia 2019 - v{{version}}</span>

          - <span class="item-legal">Todos los derechos reservados</span>

          <ng-container *ngFor="let link of copyrightLinks"> |
            <a class="item-link item-legal" [routerLink]="[legalRoute, link.route]" [innerHTML]="link.text">
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>


