@import './../../styles/colors.scss';
@import './../../styles/variables.scss';

.footer {

  a {
    text-decoration: none;
  }

  .item-link {
    margin-bottom: 1em;
  }

  .item-icon {
    margin-right: 0.5em;
  }

  .footer-content {
    font-size:0.9em;
    padding: 2em 3em 1em 5em;
  }

  div.text p {
    margin-bottom: 0.6em;
  }

  /******    COPYRIGHT ****/
  .footer-copyrights {
    font-family: $font-family-text;
    font-size: 0.8em;
  }


  span.item-legal {
    padding: 0.5em 1em 0.5em 0.5em;
  }

  span.item-info, .footer-copyrights a {
    padding: 0.5em 0.5em 0.5em 1em;
  }

  @media(max-width: 400px) {
    .footer-title {
       margin: auto !important;
    }

    a {
      text-align: center;
    }

    .footer-content {
      padding: 2em 2em 2em 2em !important;
    }
  }
}

