<div class="user-data p-3 row">
  <div class="col-lg-6">
    <p class="col-12" *ngIf="!isLogged">¿Ya eres juegon?
      <a [routerLink]="accessRoute">Inicia sesión</a></p>
    <form class="form" #form="ngForm">
      <fieldset *ngIf="userData">
        <legend class="mb-3 user-data-title w-auto">DATOS DE USUARIO</legend>
        <ng-container *ngFor="let field of FIELDS">
          <div class="form-group" [class.required]="field.required">
            <label for="{{field.id}}-user">{{field.label}}</label>
            <input class="form-control" [type]="field.type" id="{{field.id}}-user" #elem="ngModel"
                   [disabled]="field.disabled ? field.disabled: false"
                   [required]="field.required" name="{{field.id}}-user"
                   [ngModel]="field.parent ? userData[field.parent][field?.id] : userData[field?.id]"
                   (ngModelChange)="field.parent ? userData[field.parent][field?.id]=$event : userData[field?.id]=$event"
                   [maxlength]="field.maxlength" [minlength]="field.minlength ? field.minlength : 3"
                   [pattern]="field.pattern"
                   [class.input-error]="elem.invalid && (elem.touched || submitted)"/>
            <small class="text-error text-left" *ngIf="elem.invalid && (elem.touched || submitted)">
              {{elem.errors | validation}}
            </small>
          </div>
        </ng-container>
        <div class="form-group">
          <label for="observations">Observaciones</label>
          <textarea class="form-control" id="observations" maxlength="600" name="observations"
                    [(ngModel)]="observations"></textarea>
        </div>
      </fieldset>
    </form>
    <div class="form-group">
      <label for="delivery">¿Facturar a una dirección diferente?</label>
      <input type="checkbox" id="delivery" class="ml-2" [(ngModel)]="differentAddress"/>
    </div>
    <form class="form form-delivery" #formDelivery="ngForm" *ngIf="differentAddress">
      <fieldset>
        <legend>Datos de facturación</legend>
        <ng-container *ngFor="let field of FIELDS">
          <div class="form-group" *ngIf="field.id != 'email'">
            <label for="{{field.id}}-delivery">{{field.label}}</label>
            <input class="form-control" [type]="field.type" id="{{field.id}}-delivery" #elemDelivery="ngModel"
                   [required]="field.required" name="{{field.id}}-delivery"
                   [(ngModel)]="delivery[field.id]" [maxlength]="field.maxlength"
                   [minlength]="field.minlength ? field.minlength : 3" [pattern]="field.pattern"
                   [class.input-error]="elemDelivery.invalid && (elemDelivery.touched || submitted)"/>
            <small class="text-error text-left" *ngIf="elemDelivery.invalid && (elemDelivery.touched || submitted)">
              {{elemDelivery.errors | validation}}
            </small>
          </div>
        </ng-container>
      </fieldset>
    </form>
  </div>

  <div class="col-lg-6">
    <div class="order-summary-title">
      <h1 class="h2 text-uppercase">Resumen de pedido</h1>
    </div>
    <app-order-summary [orderItems]="orderItems" [checkOrder]="checkOrder"
                       [displayStripe]="displayStripe"
                       [isLogged]="isLogged"
                       (onSubmit)="submit($event)"></app-order-summary>

  </div>
</div>
