@import "../../../@theme/styles/colors";

.user-data {
  background-color: $white;
}

form {
  max-width: 40em;
}

.user-data-title {
  border-bottom: 1px solid $color-separator-bar;
  padding-right: 5em;
}

.order-summary-title {
  background-color: $color-table-section;
  padding: 1em 1.5em 0.5em 1.5em;
}

@media (max-width: 767px) {
  .user-data-title {
    padding-right: 1em;
  }
}
