<div class="shopping-cart p-2 border-top">
  <div class="products border-bottom mb-1" *ngIf="orderItems && orderItems.length > 0; else emptyCart">
    <ng-container *ngFor="let item of orderItems">
      <div class="row product-item" *ngIf="item.product">
        <img *ngIf="item.product.images"
             [src]="item.product.images[0] | imageUrl"
             class="col-4"/>
        <div class="col-8">
          <h5 class="w-100">{{item.product.name}}</h5>
          <p class="w-100">{{item.quantity}} x {{item.product.price | price}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="summary" *ngIf="orderItems && orderItems.length > 0; else goToShop">
    <div class="subtotal row justify-content-center mb-2">
      <p class="col-5 mb-0">Subtotal:</p>
      <p class="col-5 mb-0 text-right font-weight-bold">{{totalPrice}}</p>
    </div>
    <div class="row buttons justify-content-center">
      <button class="col-6 btn btn-dark" [routerLink]="cartDetailRoute">Continuar</button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="products">
    <p class="text-center">Añade tu primer producto al carrito</p>
  </div>
</ng-template>
<ng-template #goToShop>
  <div class="summary" *ngIf="!atShop">
    <div class="row boxed buttons justify-content-center">
      <button class="col-6 btn btn-light text-dark" [routerLink]="shopRoute">Ir a la tienda</button>
    </div>
  </div>
</ng-template>
