@import '../../styles/colors';

.shopping-cart {
  background-color: $bg-theme;

  .products {
    width: 20em;

    div.product-item {
      h5 {
        white-space: nowrap;
        overflow: hidden;
      }

      img {
        max-height: 5em;
        height: 5em;
        width: 5em;
        max-width: 5em;
        object-fit: contain;
        background-color: $bg-theme;
        margin: auto 1em auto 1em;
      }
    }
  }
}
