@import './../../@theme/styles/colors';

::ng-deep  {
  .range-slider .ng5-slider .ng5-slider-bar {
    height: 0.15em;
  }

  .range-slider .ng5-slider .ng5-slider-selection {
    background: $color-corporate-light;
  }

  .range-slider .ng5-slider .ng5-slider-pointer {
    width: 0.5em;
    height: 1em;
    top: auto;
    bottom: 0;
    background-color: $color-corporate-light;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
  }

  .range-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .range-slider .ng5-slider .ng5-slider-bubble {
    bottom: 0.8em;
  }

  .range-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: $color-corporate-light;
  }
}
