<section id="error-404" class="light-theme">
  <div class="content">
    <div class="error-404-container">
      <div class="error-404-title">
        <h1 class="">404</h1>
      </div>
      <h2>Ops! No se puede encontrar esta página</h2>
      <p>Lo sentimos, pero la página que estás buscando no existe, se ha eliminado, ha cambiado de nombre o no está
        disponible</p>
      <a routerLink="/" target="_self">Ir a la página principal</a>
    </div>
  </div>
</section>
