@import './../../@theme/styles/colors';

.content {
  position: relative;
  height: 75vh;
}

.error-404-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 10em;
    font-weight: 900;
    padding-bottom: 0;
  }

  a {
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    border: none;
    background: $color-corporate;
    padding: 1em 3em;
    font-size: 1em;
    font-weight: 700;
    border-radius: 1em;
    margin-top: 1em;
  }
}


