<app-header [title]="shopConfig.title" [subtitle]="categorySelected?.name">
</app-header>


<div *ngIf="loading" class="row justify-content-center loading-square p-5">
  <div class="center-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>

<section class="boxed">

  <div class="shop-container row pt-5">


    <div  [ngClass]="{'order-12': shopConfig['sidebar'] != alignment.LEFT, 'order-1': shopConfig['sidebar'] == alignment.LEFT}" class="col-md-4 col-lg-4">
      <app-shop-sidebar *ngIf="loaded" [productSearch]="productSearch" [productFeatured]= "productFeatured"
                        [priceFilter]="priceFilter" [categoryFilter]="categoryFilter" [attributesFilter] = "attributesFilter"
                        (onFilterUpdated)="filterProducts($event)" (onClearFilters)="clearFilters()" (onSearchProduct)="searchProduct($event)"
      ></app-shop-sidebar>
    </div>

    <app-shop-content class="shop-content order-2" [ngClass]="{'col-md-8 col-lg-8': shopConfig['sidebar'] != alignment.NONE, 'col-12': shopConfig['sidebar'] == alignment.NONE}"
    [loading]="loading" [ordinationValues]="ordinationValues"
    [paged]="paged"
    (onSortingOptionSelected)="sortProducts($event)"
    (onChangeProductsNumber)="showProducts($event)"
    (onNewProductsNeeded)="onPageChange($event)"
    ></app-shop-content>


  </div>

</section>
