<mat-form-field>
  <mat-select placeholder="Ordenar por..." (valueChange)="optionChanged($event)">
    <mat-option>--</mat-option>
    <ng-container *ngFor="let option of options">
      <mat-option [value]="option.value">{{option.displayName}}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
