<div class="info-section row justify-content-center text-center">

  <div *ngIf="media.align == alignment.LEFT" class="col-12 col-md-6">
    <ng-container [ngTemplateOutlet]="mediaSection"></ng-container>
  </div>

  <div class="data col-12 col-md-6 animated fadeInLeft"
       [ngClass]="data.textAlign | ngxHorizontalAlignment">
    <h3>{{data.title}}</h3>
    <h5>{{data.description}}</h5>
    <a class="btn btn-primary" [ngClass]="data.button.icon" [href]="data.button.link | ngxLink"
       [target]="data.button.target">{{data.button.title}}</a>
  </div>

  <div *ngIf="media.align == alignment.NONE" class="bottom-video col-12">
    <ng-container [ngTemplateOutlet]="mediaSection"></ng-container>
  </div>

  <div *ngIf="media.align == alignment.RIGHT" class="col-12 col-md-6">
    <ng-container [ngTemplateOutlet]="mediaSection"></ng-container>
  </div>

  <ng-template #mediaSection>
    <div class="media-data animated fadeInRight">

      <div class="video-data" *ngIf="media.video.url; else elseBlock">
        <iframe class="media-video"
                [src]="getURL()">
        </iframe>
      </div>

      <ng-template #elseBlock>
        <div class="image-data" *ngIf="media.image">
          <a [href]="data.button.link | ngxLink">
            <img [alt]="media.alt" [src]="media.image | imageUrl">
          </a>
        </div>
      </ng-template>

    </div>
  </ng-template>
</div>
