
.info-section {
  margin-top: 2em;
}

.data {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5em;
  width: 15em;
  word-break: break-word;
}

h3, h5 {
  width: auto;
}

a {
  width: auto;
}

a.btn {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.media-video {
  width: 100%;
  height: 400px;
}

.media-video {
  width: 50%;
  height: 400px;
}

.media-data a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.media-data a:hover, iframe:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
