<div *ngIf="orderList && orderList.length > 0; else noOrders">
  <table class="table">
    <thead class="thead-custom" scope="row">
    <th scope="col" class="no-wrap align-center">Nº PEDIDO</th>
    <th scope="col" class="d-none d-sm-table-cell no-wrap align-cente">FECHA</th>
    <th scope="col" class="align-center no-wrap">PRODUCTOS</th>
    <th scope="col" class="align-center no-wrap">TOTAL</th>
    <th scope="col" class="align-center no-wrap"></th>
    </thead>
    <tbody>
    <tr class="order-item" *ngFor="let order of orderList" scope="row">
      <td scope="col" class="no-wrap align-center">{{order.id}}</td>
      <td scope="col" class="d-none d-sm-table-cell no-wrap">{{order.creationDate | date : 'shortDate'}}</td>
      <td scope="col" class="align-center no-wrap">{{order.orderLines | ngxCalculateTotal}}</td>
      <td scope="col" class="align-center no-wrap">{{order.totalPrice | price}}</td>
      <td scope="col" class="align-center no-wrap">
        <a class="text-decoration-none" [routerLink]="orderRoute + '/' +order.id">
          <button class="btn btn-default btn-order-list w-auto">VER
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <div class="card">
    <div class="card-body">Todavía no has realizado ningún pedido. Pide ahora y disfruta de nuestros productos</div>
    <div class="card-footer">
      <button class="btn btn-default w-auto center" [routerLink]="shopRoute">Ver productos</button>
    </div>
  </div>
</ng-template>
