@import "../../../@theme/styles/colors";

$time: 0.3s;

td {
  display: table-cell;
  vertical-align: middle;
}


.thead-custom {
  background-color: $color-table-section;
  border: 1px solid $color-input-border;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/deep/
.mat-expansion-panel {
  &.no-disabled {
    .mat-expansion-panel-header {
      color: $black;
      pointer-events: none;
      background-color: $color-table-section;

      .mat-expansion-indicator {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .mat-expansion-panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.btn-order-list {
  border-radius: 0;
}

.order-item {
  border: 1px solid $color-input-border;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 767px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
