<div class="shop-content p-3">
  <app-product-list [products]="paged.content" [displayCart]="shopConfig.displayCart"
                    [displayPriceOnList]="shopConfig.displayPriceOnList"
                    [displayPrice]="shopConfig.displayPrice" [loading]="loading"
                    (shoppingCartClick)="addProductToCart($event)"></app-product-list>
</div>
