<div id="legal">
  <div class="animated fadeInDown">
    <app-header *ngIf="data.displayPageTitle else header" [title]="data.title">
    </app-header>
  </div>

  <ng-template #header>
    <h1 class="text-center w-100 h2">{{data.title}}</h1>
  </ng-template>
  <section class="boxed col-md-10 center animated fadeInUp">
    <div [innerHTML]="data.text"></div>
  </section>
</div>
