<div *ngIf="gridListToDisplay.length > 0" class="row">
  <div class="p-2" [ngClass]="gridClass ? gridClass: ''" *ngFor="let grid of gridListToDisplay">
    <app-grid-item [title]="grid.title" [image]="grid.image" [link]="grid.link" [target]="grid.target" [query]="grid.query"></app-grid-item>
  </div>

  <div class="col-12 align-center div-btn-padding">
    <button *ngIf="gridList && gridList.length > getGridListToDisplayLength()"
            class="btn btn-default col-5 col-md-4 col-lg-3" (click)="addElementsToDisplay()">
      VER MÁS
    </button>
  </div>
</div>

