<div id="contact">
  <app-header [title]="contactConfig.title" [subtitle]="contactConfig.subtitle" (onImageClickEvent)="onImageClick($event)">
  </app-header>

  <app-map-frame class="center animated wow fadeInUp" data-wow-delay="0.3s"
                 [src]="contactConfig.map.mapLink" [width]="mapWidth"
                 [height]="mapHeight" [ngClass]="{'order-12': !isMapBottom, 'order-1': isMapBottom}">
  </app-map-frame>

  <section class="boxed row order-2">
    <div class="container col-md-11 col-sm-12 center animated wow fadeInUp" data-wow-delay="0.3s">
      <div id="contact-header"  class="pb-4" [ngClass]="contactConfig.form.textAlign | ngxHorizontalAlignment">
        <h3 class="contact-title display-font col-12">{{contactConfig.form.title}}</h3>
        <h5 class="col-12" *ngIf="contactConfig.form.description">{{contactConfig.form.description}}</h5>
      </div>

      <div class="contact-body row">
        <app-contact-form [formConfig]="contactConfig.form" class="col order-2">
        </app-contact-form>

        <div id="sidebar" class="col-md-4 col-sm-12" *ngIf="contactConfig.sidebar"
             [ngClass]="{'col-md-12': contactConfig.sidebar == horizontalAlignment.NONE,  'order-12': !isSidebarRight, 'order-1': !isSidebarRight}">
          <div id="contact-info" class="align-center my-auto w-100" *ngFor="let data of contactConfig.contactData">
            <div class="w-100">
              <a *ngIf="data.link else noLink" [href]="data.link | ngxLink" [target]="data.target"
                 class="text-decoration-none w-100">
                <i class="fa" [ngClass]="data.icon"></i>
                {{data.title}}
              </a>
              <ng-template #noLink class="w-100">
                <i class="fa" [ngClass]="data.icon"></i>
                {{data.title}}
              </ng-template>
            </div>
          </div>
          <div id="socialData" *ngIf="contactConfig.displaySocialData"></div>
        </div>

      </div>

    </div>

  </section>

  <div class="zoom-img" [hidden]="!showZoomImage" (click)="onZoomImageClick()">
    <img [src]="imgSrc" class="animated zoomIn"/>
  </div>

</div>
