@import './../../@theme/styles/colors';

#contact-info {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  #contact-info {
    padding: 1em 0;
    font-size: 1.2em;
  }

  .container {
    padding: 10%;
  }
}

app-map-frame {
  display: block;
  text-align: center;
}

.contact-title {
  font-weight: bold;
  color: $color-text;
}

.container {
  padding: 5%;
  max-width: 900px;
}


.zoom-img {
  position: fixed;z-index: 100;background-color: rgba(0,0,0,0.5);height: 100%;width: 100%;top: 0;left: 0;
  img {
    width: 75%;height: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
  }
}
