<div class="h4" *ngIf="title">{{title}}</div>
<ul class="list-group">

  <ng-container *ngFor="let item of items">
    <li class="list-group-item cursor-pointer main" [ngClass]="{'active': item.isSelected}"
        (click)="onItemClick(item, undefined, $event)">
      {{item.name}}
    </li>
    <ng-container *ngIf="item.children && item.children.length > 0">

      <li class="list-group-item cursor-pointer child vertical-align-content" *ngFor="let subitem of item.children"
          [ngClass]="{'active': subitem.isSelected}"
          (click)="onItemClick(item, subitem, $event);">
        <i class="fa fa-circle"></i>{{subitem.name}}
      </li>
    </ng-container>

  </ng-container>

</ul>
