@import './../../@theme/styles/colors';

.child.list-group-item {
  background-color: $bg-theme;
  display: flex ;
  i {
    font-size: 0.5em;
    margin-right: 1em;
  }
}

.list-group-item.active {
  background-color: $color-accent;
}

.child.list-group-item-selected {
  display: flex ;
  i {
    font-size: 0.5em;
    margin-right: 1em;
  }
}

.list-group-item:hover {
  font-weight: bold;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 0.1em 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 1.75em;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 2.8em;
}
