<section class="boxed order-container center min-height animated zoomIn" *ngIf="order; else noOrder">

  <ng-container
    *ngIf="order.orderStatus && (order.orderStatus != orderCancelled); else showCancelledOrder">

    <div class="text-center pb-4">
      <h1 class="h3 w-100 text-uppercase title font-weight-bold">Gracias por confiar en nosotros</h1>
    </div>

    <div>
      <h2 class="h6 underlined-title title font-weight-bold">RESUMEN DE PEDIDO</h2>
    </div>

    <div class="row pl-3">
      <div class="col-md-6 row">

        <div class="col-6 pt-2 font-weight-bold">
          Número de pedido:
        </div>
        <div class="col-6 pt-2">
          {{order.id}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Fecha de pedido:
        </div>
        <div class="col-6 pt-2">
          {{order.creationDate | date}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Método de pago:
        </div>
        <div class="col-6 pt-2">
          {{order.isCreditCard ? "Tarjeta" : "Transferencia bancaria"}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Observaciones:
        </div>
        <div class="col-6 pt-2">
          <p>{{order.observations ? order.observations : "Sin observaciones"}} </p>
        </div>
      </div>
      <div class="col-md-6 row">

        <div class="col-6 pt-2 font-weight-bold">
          Nombre y apellidos:
        </div>
        <div class="col-6 pt-2">
          {{order.name}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          DNI:
        </div>
        <div class="col-6 pt-2" *ngIf="order.deliveryAddress.dni">
          {{order.deliveryAddress.dni}}
        </div>
        <div class="col-6 pt-2" *ngIf="!order.deliveryAddress.dni">
          Sin DNI
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Email:
        </div>
        <div class="col-6 pt-2">
          {{order.email}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Dirección:
        </div>
        <div class="col-6 pt-2">
          {{order.deliveryAddress.address}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Provincia y país:
        </div>
        <div class="col-6 pt-2">
          {{order.deliveryAddress.postalCode}} {{order.deliveryAddress.province}}, {{order.deliveryAddress.country}}
        </div>

        <div class="col-6 pt-2 font-weight-bold">
          Teléfono:
        </div>
        <div class="col-6 pt-2">
          {{order.phone}}
        </div>
      </div>
    </div>

    <div class="pt-5">
      <h6 class="underlined-title title font-weight-bold">DIRECCIÓN DE FACTURACIÓN</h6>
    </div>

    <div class="row pl-3">
      <div class="col-md-6 row">
        <div class="col-6 pt-2 font-weight-bold">
          Dirección:
        </div>
        <div class="col-6 pt-2">
          {{order.billingAddress.address}}
        </div>
      </div>
      <div class="col-md-6 row">
        <div class="col-6 pt-2 font-weight-bold">
          Provincia y país:
        </div>
        <div class="col-6 pt-2">
          {{order.deliveryAddress.postalCode}} {{order.billingAddress.province}}, {{order.billingAddress.country}}
        </div>
      </div>
    </div>


    <div *ngIf="isBankTransfer" class="row pt-5">
      <app-bank-transfer [order]="order"></app-bank-transfer>
    </div>


    <div class="pt-5">
      <table class="table pt-4">
        <thead class="thead-custom">
          <tr>
            <th scope="col">PRODUCTO</th>
            <th scope="col" class="d-none d-sm-table-cell">NOMBRE</th>
            <th scope="col" class="align-center">PRECIO</th>
            <th scope="col" class="align-center">CANTIDAD</th>
            <th scope="col" class="align-center">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr class="order-item" *ngFor="let item of order.orderLines; let i = index">
            <td class="img-product"><img class="image pr-2 pr-sm-0" [src]="item.imageUrl | imageUrl" alt="Imagen de producto" /></td>
            <td class="d-none d-sm-table-cell cell">
              <div class="row">
                <div class="col-md-6">{{item.name}}</div>
              </div>
            </td>
            <td class="align-center cell">{{item.unitPrice | price}}</td>
            <td class="align-center cell">{{item.quantity}}</td>
            <td class="align-center cell">{{item.price | price}}</td>
          </tr>
        </tbody>
      </table>

      <div class="pt-4">
        <div class="row no-gutters justify-content-between mb-0" *ngFor="let priceLine of order.priceLines">
          <div class="pl-3 pr-2 summary summary-item col-5 mb-0">{{priceLine.concept}}</div>
          <div class="pl-5 pr-2 summary-item col-7 mb-0">{{priceLine.price | price}}</div>
        </div>
        <div class="row no-gutters justify-content-between mb-0">
          <div class="pl-3 pr-2 summary summary-item col-5 mb-0">TOTAL</div>
          <div id="order-price" class="pl-5 pr-2 summary-item col-7 mb-0 font-weight-bold">{{order.totalPrice | price}}
          </div>
        </div>
      </div>

      <div class="pt-5 align-center">
        <button type="button" class="ml-0 btn btn-default d-print-none w-auto" (click)="printOrder()">Imprimir pedido
        </button>
      </div>
    </div>
  </ng-container>

</section>


<ng-template #noOrder>
  <div class="row justify-content-center min-height">
    <span class="center-auto h4">No se ha encontrado el pedido</span>
  </div>
</ng-template>

<ng-template #showCancelledOrder>
  <div class="cancelled-order center pb-3 animated zoomIn">
    <div class="center">
      <div class="h3 display-font center align-center">
        <span>El pedido ha sido cancelado.</span>
      </div>
      <div class="pt-3 align-center">
        <button class="btn btn-default w-auto center" routerLink="/empresa-filamentos-3d">CONTACTAR</button>
      </div>
    </div>
  </div>
</ng-template>
