@import './../../@theme/styles/colors';

.min-height {
  min-height: 30em;
}

.order-container {
  max-width: 1200px;
  padding: 3em;
  background-color: $white;
}

.order-item {
  border: 1px solid $color-separator-bar;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
}

.table {
  display: inline-table;
}

.summary {
  background-color: $color-table-section;
}

.summary-item {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid $color-separator-bar;
}

.title {
  color: $black;
}

.thead-custom {
  background-color: $color-table-section;
  border: 1px solid $color-separator-bar;
}

.underlined-title {
  border-bottom: 1px solid $color-separator-bar;
  padding-right: 5em;
}

img.image {
  width: 40%;
  height: auto;
}

.img-product {
  width:30%;
}

.cell {
  vertical-align: middle;
}

@media (max-width: 767px) {
  .order-container {
    padding: 1em;
  }

  .table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  img.image {
    width: 80%;
    height: auto;
  }

}
