<form (ngSubmit)="createContact()" #form="ngForm" name="form" *ngIf="!loading; else showLoading">
  <fieldset>
    <label class="src-only" for="name"></label>
    <input id="name" class="form-control" type="text" name="name" appTrim
           [(ngModel)]="contact.name" #nameValidate="ngModel"
           [class.input-error]="nameValidate.invalid && nameValidate.touched"
           minlength="1" maxlength="40"
           placeholder="Nombre *" required />
    <small class="requirements" *ngIf="nameValidate.invalid && nameValidate.touched">
      {{nameValidate.errors | validation }}
    </small>


    <label class="src-only" for="email"></label>
    <input id="email" class="form-control" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
           [(ngModel)]="contact.email" #emailValidate="ngModel"
           [class.input-error]="emailValidate.invalid && emailValidate.touched"
           minlength="1" maxlength="40"
           placeholder="Email *" required  />
    <small class="requirements" *ngIf="emailValidate.invalid && emailValidate.touched">
      {{emailValidate.errors | validation }}
    </small>

    <ng-container *ngIf="formConfig.displayPhone">
      <label class="src-only" for="phone"></label>
      <input id="phone" class="form-control" type="tel" name="phone" pattern="^(\+34|0034|34)?[6|7|8|9][0-9]{8}$"
             [(ngModel)]="contact.phone" #phoneValidation="ngModel"
             [class.input-error]="phoneValidation.invalid && phoneValidation.touched"
             minlength="1" maxlength="15"
             placeholder="Teléfono" />
      <small class="requirements" *ngIf="phoneValidation.invalid && phoneValidation.touched">
        {{phoneValidation.errors | validation }}
      </small>
    </ng-container>


    <label class="src-only" for="subject"></label>
    <input id="subject" class="form-control" type="text" name="subject"
           [(ngModel)]="contact.subject" #subjectValidate="ngModel"
           [class.input-error]="subjectValidate.invalid && subjectValidate.touched"
           minlength="1" maxlength="100"
           placeholder="Asunto"/>
    <small class="requirements" *ngIf="subjectValidate.invalid && subjectValidate.touched">
      {{subjectValidate.errors | validation }}
    </small>

    <label class="src-only" for="text"></label>
    <textarea id="text" class="form-control" name="text" appTrim
              [(ngModel)]="contact.text" #textValidate="ngModel"
              [class.input-error]="textValidate.invalid && textValidate.touched"
              minlength="1" maxlength="500"
              placeholder="Mensaje *" required ></textarea>
    <small class="requirements" *ngIf="textValidate.invalid  && textValidate.touched">
      {{textValidate.errors | validation }}
    </small>

    <input class="btn btn-primary" type="submit" name="send" value="Enviar" [disabled]="form.invalid"/>

    <span [ngClass]="formConfig.textAlign | ngxHorizontalAlignment"
          class="form-text float-left w-100">
      <input type="checkbox" name="privacy" id="privacy"
             [(ngModel)]="contact.privacy" #privacyValidate="ngModel"
             [class.input-error]="privacyValidate.invalid && privacyValidate.touched"
             required/>
      <label for="privacy" class="d-inline">
        He leído y acepto el <a [href]="noticeRoute" target="_blank">aviso legal</a> y la <a
        [href]="privacyRoute" target="_blank">política de privacidad.</a>
      </label>

    <small class="requirements" *ngIf="privacyValidate.invalid && privacyValidate.touched">
      {{privacyValidate.errors | validation }}
    </small>
    </span>

  </fieldset>
</form>

<ng-template #showLoading>
  <div class="row justify-content-center spinner-padding">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
