@import "../../@theme/styles/colors";

form {
  & > fieldset {
    & > input, & > textarea {
      margin-bottom: 0.5rem !important;
      &.btn {
        margin: 0 0 0.5em 0 !important;
      }
    }
    & small.requirements {
      color: $color-error;
      text-align: left;
    }
  }
}
