<div class="row">
  <div class="p-3 col-12" [ngClass]="columnClass" *ngFor="let infoObject of infoObjects">
    <app-info-object class="h-100 cursor-pointer" [iconPosition]="iconPosition" [infoObject]="infoObject"
                     [textAlignment]="textAlignment" [backgroundItem]="backgroundItem">
    </app-info-object>
  </div>
</div>
