@import './../../@theme/styles/styles';

.featured-product-view-container {
  padding-top: 0.5em;
  border-radius: 0.5em;
  height: 100%;
  background-color: $white;
}

.featured-product-name {
  height: 80%;
  display: flex;
  align-items: center;
}

.featured-product-title {
  text-align: left;
  margin-top: 1em;
  color: $color-corporate;
  text-transform: uppercase;
  font-weight: bold;
}

.img-size {
  width: 100%;
  height: 15em;
  object-fit: contain;
  object-position: center;
}

.cart .h5:hover {
  color: $color-corporate;
}

.cart .h5 {
  color: $white;
  margin-top: 0.5em;
}

.price {
  font-weight: bold;
  font-size: 1.25em;
}


.btn-featured-product {
  width: auto;
  margin-left: -10em;
  text-transform: initial;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .btn-featured-product {
    margin-top: 1em;
    margin-left: 0;
  }

  .featured-product-name {
    height: auto;
  }
}
