<div class="featured-product-view-container row p-2 cursor-pointer"
     [ngClass]="{'product-view-container-effect': displayEffects}">

  <div class="col-md-8">
    <img class="img-size" [src]="image | imageUrl"/>
  </div>

  <div class="col-md-4 row no-gutters">
    <div class="col-12 featured-product-name">
      <span class="h5 align-center-mobile center-mobile featured-product-title">{{product.name}}</span>
    </div>
    <div class="col-12">
      <button class="btn btn-default btn-featured-product" (click)="onProductClick(product)">
        <i class="fa fa-shopping-cart pr-2"></i>Ir a la tienda
      </button>
    </div>
  </div>

</div>
