<div *ngIf="loading" class="loading-div justify-content-center loading-square spinner-padding">
  <div class="center-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>
<section class="access center">
  <div class='row justify-content-center'>
    <mat-card class='col-lg-5 col-md-10 col-sm-11 access-card'>
      <app-login (onSubmit)=loginUser($event) [loading]="loading"></app-login>
    </mat-card>
    <mat-card class='col-lg-5 col-md-10 col-sm-11 access-card'>
      <app-register (onSubmit)=createUser($event) [loading]="loading"></app-register>
    </mat-card>
  </div>
</section>
