@import './../../@theme/styles/colors';

.access {
  padding: 5em 2em 5em 2em;
  max-width: 1200px;
}

.access-card {
  padding: 3em;
  height: fit-content;
  margin: 1em;
}

.loading-div {
  display: flex;
  z-index: 2;
  height: 100%;
}

/deep/ .access .text-error {
  text-align: left;
}

/deep/ .access .app-group {
  margin-top: 1em;
}

.mat-tab-group-style {
  min-height: 42em;
  width: 100%;
  background-color: $white;
  color: $color-text;
}

@media (max-width: 767px) {
  .access {
    padding: 2em;
  }
}
