<section class="social">
  <div class="container">

    <div *ngIf="iconsType!=2; else elseblock">
      <a *ngFor="let item of socialItems" [ngClass]="getIconsClass(item)" [href]="item.link | ngxLink" target="_blank">
      </a>
    </div>

    <ng-template #elseblock>
      <span class="fa-stack fa-lg" *ngFor="let item of socialItems">
        <a [href]="item.link" target="_blank">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa-stack-1x icon-style" [ngClass]="getIconsClass(item)"></i>
        </a>
     </span>
    </ng-template>
  </div>
</section>
