@import './../../styles/colors';

.social {
  width: fit-content;
}

a {
  margin-right: 1em;
  color: $white;
}

a:hover {
  opacity: 0.7;
  text-decoration-line: none;
}

.fa-circle {
  color: $color-text-topbar;
}

.icon-style {
  color: $white;
}
