<div>
  <app-header title="Sobre nosotros" subtitle="Nuestro amor por los juegos de mesa">
  </app-header>

  <section class="boxed">

    <div class="row company-container">

      <div class="row p-3 col-12 col-md-6 col-lg-6">

        <div class="pt-3 image col-12 animated fadeInLeft firstLine">
          <img src="https://cdn.pixabay.com/photo/2019/07/03/14/05/civilization-4314653_1280.jpg" alt="Tu empresa de juegos de mesa">
        </div>

        <div class="col-12 animated secondLine fadeInLeft">
          <h4>Nuestra historia</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id metus est. Vestibulum vestibulum egestas congue. Nulla turpis eros, placerat sit amet imperdiet sed, posuere ultrices sapien. Mauris sodales massa sed ex aliquet, sit amet viverra libero luctus.
          Suspendisse in risus sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor tellus at elit vehicula, sed eleifend lectus lobortis.
        </div>
      </div>

      <div class="row p-3 col-12 col-md-6 col-lg-6">

        <div class="col-12 animated animationDelayed fadeInLeft">
          <h4>¿Por qué juegos de mesa?</h4>
          Duis sit amet tortor diam. Nunc sed ipsum tempor, semper nulla vel, mattis libero. Mauris tempor consectetur sollicitudin. Morbi posuere nec leo in viverra. Cras pulvinar arcu finibus velit mollis varius.
          Pellentesque porttitor rhoncus eros, vitae iaculis massa blandit non. Vestibulum eget turpis et quam rutrum gravida. Nulla eleifend vehicula semper.

        </div>

        <div class="pb-3 pt-sm-5 image col-12 animated fadeInRight animationDelayed">
          <img src="https://cdn.pixabay.com/photo/2019/04/12/13/54/word-game-4122217_1280.jpg" alt="Sobre nosotros">
        </div>

      </div>

    </div>

  </section>

</div>
