@import './../../@theme/styles/colors';

.company-container {
  padding: 1.5em 3em;
  .animated {
    animation-duration: 2s;
  }

  .animationDelayed {
    animation-delay: 0.5s;
  }

}

.image img {
  max-width: 100%;
  height: auto;
}
