<app-header title="Probando api"
            subtitle="Valencia CF"
            background="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/03/18/15528979070822.jpg"
            height="30"
            parallaxEffect=true>
</app-header>
<section class="boxed">
  <div class="container">

    <div class="calls">
      <button class="btn btn-success animated shake" (click)="showModal()">showModal</button>
      <button class="btn btn-success animated shake" (click)="getCategories()">getCategories</button>
    </div>
  </div>

  <div class="align-center pt-5 pb-5 animated rollIn">
    <div class="pb-3">
      <h1 class="center">FONT AWESOME</h1>
    </div>
    <div>
      <i class="fab fa-500px fa-4x ml-4"></i>
      <i class="fab fa-accessible-icon fa-4x ml-4"></i>
      <i class="fas fa-shipping-fast fa-4x ml-4"></i>
    </div>
  </div>

  <section class="light-theme">
    <app-info-section [data]="dataInfo"
                      [media]="mediaInfo">
    </app-info-section>
  </section>

  <button (click)="displayCreditCardModal()">PAGAR CON STRIPE</button>

  <hr/>
  <b>Resultados: </b>
  <pre>{{result | json }} </pre>

  <b>Categorías: </b>
  <pre>{{categories | json }} </pre>
  <hr/>

  <p><b>Error: </b></p>
  <pre>{{error}}</pre>

  <b>Error body: </b>
  <pre>{{errorBody | json }}</pre>

  <hr/>


</section>
