@import './../../../@theme/styles/colors';
@import './../../../@theme/styles/variables';


.menu-style {
  padding-left: 3em;
  padding-right: 3em;
  background-color: $bg-menu;
}

.item-icon {
  padding-right: 0.5em;
}

.navbar-light .navbar-toggler-icon {
  color: $color-corporate !important;
}

.cart-user-style {
  padding-right: 1em;
  color: $color-corporate;
}

.cart-user-style:hover {
  color: $color-accent;
}

/*** LINKS ***/

.navbar.opaque {
  background-color: $white;
}

.navbar-toggler .navbar-toggler-icon {
  color: $color-menu-toggle;
}


.navbar .navbar-nav > li > a {
  color: $color-corporate;
  text-transform: uppercase;
  padding: 25px 15px;
  font-size: 1rem;
  font-family: $font-family-menu;
  white-space: nowrap;
  text-decoration: none;
}

.navbar .navbar-nav > li > a:hover {
  color: $color-accent !important;
}

.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a:active {
  font-weight: bold;
  color: $color-corporate !important;
}

.navbar .navbar-nav > li > a:focus {
  background-color: inherit !important;
}


/**** LOGO ***/
.navbar-brand img {
  width: 8em;
}

.top-logo {
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .top-logo {
    width: auto;
    text-align: left;
  }
}

/*** NAVIGATION BAT ***/

.navbar {
  color: $color-text;
  z-index: 50;
  margin: 0;
  transition: .4s;
}

.navbar .navbar-brand {
  padding: 18px 0;
}

.dropdown {
  white-space: nowrap;
}

/**** DROPDOWN LINK OPEN*****/
.nav .open > a,
.nav .open > a:hover {
  background-color: inherit !important;
  color: $color-corporate-light;
}

.nav .open > a:focus {
  background-color: inherit !important;
}

.cart-icon .fa.basket {
  font-size: 1.5em;
}

/*
   Dropdown menu
   ------------- */

.dropdown-menu.dropdown-menu-right {
  border-top: 1px solid $color-corporate-light;
  margin-top: 1em;
}

.dropdown-menu {
  transition: all .25s ease;
}

.dropdown-menu li {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dropdown-menu li .dropdown-menu {
  top: 0;
  left: 99%;
  min-width: 200px;
}

.dropdown-menu li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  transition: all .5s ease;
}

.dropdown-menu li a:active,
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
  background-color: inherit !important;
  color: $color-corporate-light !important;
  font-weight: 700;
}

.dropdown-menu > li > a {
  color: $color-text-light !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: inherit;
  padding: 0.9em;
  margin: 1.1em;
}

.dropdown-menu .divider {
  background-color: $color-accent;
}

.dropdown .caret {
  margin-left: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-box-shadow;
}

.hover .quantity {
  padding: .3em .5em;
}

.css-pointer.dropdown-toggle {
  padding-top: 5em;
  padding-bottom: 5em;
}

// SHOPPING CART
.shopping-cart {
  &:hover {
    app-shopping-cart {
      visibility: visible;
      opacity: 1;
      top: 100%;
    }
  }

  app-shopping-cart {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .2);
    top: 110%;
    left: auto;
    right: 2em;
    transition: top 0.7s, visibility 0.5s, opacity 0.5s;
  }
}

// MENU SEARCH
.search-container {
  position: absolute;
  top: 5em;
  right: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
}

// SECTION MEDIA

/*** PROFILE ***/

@media (max-width: 767px) {

  .position-relative-mobile {
    position: relative;
  }

  .search-container {
    position: absolute;
    top: 0;
    left: 3em;
    right: auto;
  }

  .wrapper {
    position: absolute;
    left: 80%;
    top: 30px;
  }

  /* Handle on hover */

  #menu .access span.text {
    padding-left: 0;
  }

  #menu .pricing {
    margin-bottom: 30px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 $middle-grey;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }


  /*** COLLAPSING ***/

  .collapsing li,
  .navbar-collapse.show li {
    padding: .5em !important;
  }

  div.show .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  div.show .navbar-nav .dropdown-menu li a {
    padding-top: .0em !important;
    padding-bottom: .0em !important;
  }

  div.show .navbar-nav .dropdown-menu li {
    padding-top: .0em !important;
    padding-bottom: .0em !important;
  }

  .navbar .navbar-brand {
    padding: 8px 0 8px 15px;
  }
}


@media (min-width: 992px) {
  #menu .mov-profile {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrapper {
    left: 65%;
  }
}

.mobile-show {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobile-show {
    display: inline;
  }
}
