<nav id="menu"
     [ngClass]="{'sticky-top': config.isSticky, 'boxed': config.isBoxed, 'text-center': config.isLogoTop}"
     class="navbar navbar-expand-md navbar-light dark-theme menu-style">

  <div class="top-logo w-100 row no-gutters justify-content-between" *ngIf="config.isLogoTop; else navContent">
    <ng-container [ngTemplateOutlet]="navContent">
    </ng-container>
  </div>

</nav>

<ng-template #navContent>
  <ng-container *ngIf="config.isLogoTop || config.isLogoLeft" [ngTemplateOutlet]="logo">
  </ng-container>

  <button [ngClass]="{'order-1': config.isLogoRight}" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarMain"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-toggler-icon-style"></span>
  </button>

  <div [ngClass]="{'col-12' : config.isLogoTop, 'order-3 order-md-1': config.isLogoRight}"
       id="navbarMain" class="navbar-collapse collapse">

    <ul class="navbar-nav" *ngIf="menu_items && menu_items.length>0"
        [ngClass]="{'ml-auto': config.isLogoLeft,
           'center': config.isLogoTop|| config.isLogoCentered}">

      <ng-container *ngFor="let item of menu_items[0]"
                    [ngTemplateOutlet]="menuItem"
                    [ngTemplateOutletContext]="{item:item}">
      </ng-container>

      <ng-container *ngIf="config.isLogoCentered">
        <ng-container [ngTemplateOutlet]="logo">
        </ng-container>

        <ng-container *ngFor="let item of menu_items[1]"
                      [ngTemplateOutlet]="menuItem"
                      [ngTemplateOutletContext]="{item:item}">

        </ng-container>
      </ng-container>

      <li class="nav-item shopping-cart" data-toggle="collapse" data-target=".navbar-collapse.show"
          *ngIf="config.displayCart">
        <a [routerLink]="shopRoute" target="_self" [routerLinkActive]="['active']"
        >
          <span class="d-md-none d-lg-inline">TIENDA</span>
        </a>
        <app-shopping-cart class="d-sm-none d-md-block"></app-shopping-cart>
      </li>

      <li class="nav-item" *ngIf="config.displayUser">
        <a [routerLink]="(userService.user ? myProfileRoute : accessRoute)" [routerLinkActive]="['active']">
          <i class="item-icon fa fa-user"></i>
          <span *ngIf="userService.user" class="d-md-none d-lg-inline">
            {{userService.user.name ? (userService.user.name | limitTo: '10') : 'MI CUENTA'}}
          </span>
          <span *ngIf="!userService.user" class="d-md-none d-lg-inline">Iniciar sesión</span>
        </a>
        <i class="mobile-show"></i>
      </li>

      <li class="nav-item shopping-cart" *ngIf="config.displayCart">
        <a routerLink="/carrito" class="d-inline"><i class="item-icon fa fa-shopping-basket"></i>
        </a>
        <app-shopping-cart class="d-none d-md-block"></app-shopping-cart>
      </li>

    </ul>

  </div>

  <div class="order-1 order-md-2" *ngIf="config.isLogoRight">
    <ng-container [ngTemplateOutlet]="logo">
    </ng-container>
  </div>


  <ng-template #logo>
    <a class="navbar-brand" id="home-image" [ngClass]="{'top-logo': config.isLogoTop}"
       [routerLink]="homeRoute" [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact: true}">
      <img src="assets/logo-trans.png" alt="nav-logo">
    </a>
  </ng-template>

  <ng-template #menuItem let-item='item'>
    <li class="nav-item" [ngClass]="{'center-auto': config.isLogoCentered}">
      <a *ngIf="item.target == '_blank'" [href]="item.link | ngxLink" [target]="item.target"
         [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
         data-toggle="collapse" data-target=".navbar-collapse.show">
        <i class="item-icon" *ngIf="item.icon" [ngClass]="item.icon"></i>{{item.title}}
      </a>

      <a *ngIf="item.target != '_blank'" [routerLink]="item.link" [target]="item.target"
         [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
         data-toggle="collapse" data-target=".navbar-collapse.show">
        <i class="item-icon" *ngIf="item.icon" [ngClass]="item.icon"></i>{{item.title}}
      </a>
    </li>
  </ng-template>

</ng-template>
