<form (ngSubmit)="createUser()" #form="ngForm" name="form">

  <h4 class="center">REGISTRO</h4>
  <p class="text-center">Si aún no eres usuario, registrate para acceder a promociones exclusivas
    y hacer tus pedidos rápìdamente.</p>

  <div class="app-group">
    <input class="form-control" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
           [(ngModel)]="register.email" #emailValidate="ngModel"
           [class.input-error]="emailValidate.invalid && (emailValidate.touched || submitted)"
           minlength="1" maxlength="40" autocomplete="email"
           placeholder="Email *" required/>

    <small class="text-error" *ngIf="emailValidate.invalid && (emailValidate.touched || submitted)">
      {{emailValidate.errors | validation }}
    </small>
  </div>

  <div class="app-group">
    <input class="form-control" type="password" name="password" autocomplete="new-password"
           [(ngModel)]="register.password" #newPassword="ngModel"
           [class.input-error]="newPassword.invalid && (newPassword.touched || submitted)"
           minlength="6"
           placeholder="Contraseña *"
           required/>

    <small class="text-error" *ngIf="newPassword.invalid && (newPassword.touched || submitted)">
      {{ newPassword.errors | validation }}</small>
  </div>

  <div class="app-group">
    <input class="form-control" type="password" name="confirmedPassword" autocomplete="new-password"
           [(ngModel)]="register.confirmedPassword" #confirmedPassword="ngModel"
           [class.input-error]="(confirmedPassword.invalid || (register.password != register.confirmedPassword) )&& (confirmedPassword.touched || submitted)"
           minlength="6"
           placeholder="Confirmar contraseña *"
           required/>

    <small class="text-error" *ngIf="confirmedPassword.invalid && (confirmedPassword.touched || submitted)">
      {{ confirmedPassword.errors | validation }}
    </small>

    <small class="text-error"
           *ngIf="(register.password != register.confirmedPassword ) && (confirmedPassword.touched || submitted) && !confirmedPassword.invalid">
      Las contraseñas no son iguales
    </small>

  </div>
  <div class="app-group">
    <input id="checkbox" type="checkbox" class="check-input m-1" name="register" value="register"
           #legalConfirmation="ngModel"
           [(ngModel)]="register.isLegalConfirmed"
           [class.input-error]="legalConfirmation.invalid && (legalConfirmation.touched || submitted)"
           required/>
    <label for="checkbox" class="d-inline ">He leído las
      <a [routerLink]="termsRoute" class="text-decoration-line" target="_blank">condiciones
        de uso</a> y la
      <a [routerLink]="privacyRoute" class="text-decoration-line" target="_blank">política
        de privacidad</a>
    </label>

    <small class="text-error" *ngIf="legalConfirmation.invalid && (legalConfirmation.touched || submitted)">
      {{ legalConfirmation.errors | validation }}
    </small>
  </div>


  <div class="app-group">
    <input id="checkbox-newsletter" type="checkbox" class="check-input m-1" name="newsletter" value="newsletter"
           [(ngModel)]="register.newsletter"/>
    <label for="checkbox-newsletter" class="d-inline ">No quiero recibir noticias y ofertas
    </label>

  </div>


  <div class="col-md-10 center app-group">
    <button [disabled]="loading" class="btn btn-default" [class.btn-pulse]="loading">
      REGISTRARSE
    </button>
  </div>
</form>
