<div class="modal-header color-modal">
    <span [innerHtml]='modalHeader'></span>
    <button class="close" aria-label="Close" (click)="dismissModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="loading; else body">
    <mat-progress-spinner class='modal-progress' id='progress' mode='indeterminate' [diameter]='80'></mat-progress-spinner>
</div>

<ng-template #body>
    <div class="modal-body" [innerHtml]='modalContent'> </div>
</ng-template>


<div class="modal-footer-generic" *ngIf="!swipe">
    <button *ngIf="cancel || loading" class="btn btn-modal btn-default btn-cancel btn-confirm btn-color-cancel" (click)="dismissModal()">{{cancelText}}</button>
    <div [class.center]="!cancel" class="footer-section">
        <button *ngIf="!loading" class="btn btn-modal btn-default btn-confirm btn-cancel" (click)="confirmModal()"
            [class.btn-margin-cancel]="cancel">{{acceptText}}</button>
    </div>
</div>

<div class="modal-footer-generic" *ngIf="swipe">
    <button *ngIf="!loading" class="btn btn-modal btn-default btn-confirm" [class.center]="!cancel" (click)="confirmModal()">{{acceptText}}</button>
    <button *ngIf="cancel || loading" class="btn btn-modal btn-color-cancel btn-default btn-margin-cancel" (click)="dismissModal()">{{cancelText}}</button>
</div>