@import './../../@theme/styles/colors';

mat-progress-spinner#progress {
  margin: 3em auto;
}

.modal-header button:focus {
  outline: none;
}

.modal-header button:hover {
  outline: 5px auto -webkit-focus-ring-color;
}

.modal-footer-generic {
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: end;
    padding: 1rem;
}

.btn-color-cancel {
    background: $color-error;
    color: $white;
}

.btn-color-cancel:hover {
    color: $color-text;
}

.btn-color-cancel:active {
    color: $color-text;
    background-color: $color-error;
}



.btn-cancel {
    width: 100%;
}

.btn-margin-cancel {
    margin-left: 0.5em;
}

.footer-section {
    width: 90%;
}
