<ngb-carousel *ngIf="slideObjects"
              [showNavigationArrows]="displayArrows"
              [showNavigationIndicators]="displayPoints"
              [interval]="interval" [style.height]="height">

  <ng-template ngbSlide *ngFor="let slide of slideObjects">
    <img *ngIf="slide.background; else colorDiv" class="carousel-bg w-100 h-auto" [src]="slide.background | imageUrl"
         [ngStyle]="{'background-color' : slide.backgroundColor}"
         [alt]="slide.background.alt ? slide.background.alt : 'Diapositiva'"/>

    <ng-template #colorDiv>
      <div class="carousel-bg w-100 h-100"
           [ngStyle]="{'background-color' : slide.backgroundColor}"
      >
      </div>
    </ng-template>

    <div class="carousel-caption pt-5" (click)="onImageClick(slide)"
         [ngClass]="{top : slide.textVAlign == verticalAlignment.TOP,
         center : slide.textVAlign == verticalAlignment.CENTER,
         bottom : slide.textVAlign == verticalAlignment.BOTTOM}">
      <div>
        <div class="title">
          <h1 [class.left]="slide.textHAlign == horizontalAlignment.LEFT"
              [class.h-center]="slide.textHAlign == horizontalAlignment.CENTER"
              [class.right]="slide.textHAlign == horizontalAlignment.RIGHT">
            {{slide.title}}
          </h1>
        </div>
        <div class="subtitle">
          <h2 [class.left]="slide.textHAlign == horizontalAlignment.LEFT"
              [class.h-center]="slide.textHAlign == horizontalAlignment.CENTER"
              [class.right]="slide.textHAlign == horizontalAlignment.RIGHT" [innerHTML]="slide.subtitle">
          </h2>
        </div>
        <div class="description">
          <p [class.left]="slide.textHAlign == horizontalAlignment.LEFT"
             [class.h-center]="slide.textHAlign == horizontalAlignment.CENTER"
             [class.right]="slide.textHAlign == horizontalAlignment.RIGHT">
            {{slide.description}}
          </p>
        </div>
        <div class="btn-group btn-group-justified" *ngIf="slide.buttons"
             [class.left]="slide.textHAlign == horizontalAlignment.LEFT"
             [class.h-center]="slide.textHAlign == horizontalAlignment.CENTER"
             [class.right]="slide.textHAlign == horizontalAlignment.RIGHT">
          <a [href]="button.link | ngxLink" [target]="button.target" *ngFor="let button of slide.buttons"
             class="btn btn-default block m-1">
            <i class="my-auto fa" [ngClass]="button.icon"></i>
            {{button.title}}
          </a>
        </div>
      </div>
    </div>
  </ng-template>

</ngb-carousel>
