@import './../../@theme/styles/colors';

/deep/ {
  ngb-carousel {
    display: table;
    width: 100%;

    .carousel-inner, .carousel-item, .carousel-item > div {
      height: 100%;
    }

    .carousel-inner {
      overflow: hidden;

      .carousel-item {
        display: block !important;

        &:not(.active) {
          opacity: 0;
          visibility: hidden;
        }

        &.active {
          opacity: 1;
          visibility: visible;

          & .carousel-caption {
            height: auto !important;
            padding-bottom: 10em;

            & > div {
              height: 25%;

              & h1, h2, p {
                width: 100%;
              }

              @media (max-width: 600px) {
                & h1 {
                  font-size: 200% !important;
                }
                & h2 {
                  font-size: 150% !important;
                }
                & p {
                  font-size: 100% !important;
                }
                & a {
                  font-size: 70%;
                }
              }
            }

            & .title {
              animation: left-to-right-in 1.2s ease-out normal forwards;
              color: $color-corporate;
            }

            & .subtitle {
              animation: top-to-bottom-in 1.2s ease-out normal forwards;
              color: $color-corporate;
              text-transform: uppercase;
            }

            & .description {
              color: $color-corporate;
              font-weight: bold;
              animation: left-to-right-in 1.2s ease-out normal forwards;
            }
          }
        }

        & .carousel-bg {
          filter: opacity(50%);
          -webkit-transition: opacity 2s, visibility 2s;
          -moz-transition: opacity 2s, visibility 2s;
          -ms-transition: opacity 2s, visibility 2s;
          -o-transition: opacity 2s, visibility 2s;
          transition: opacity 2s, visibility 2s;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .top {
    transform: translateY(0%);
  }
  .center {
    transform: translateY(15%);
  }
  .bottom {
    transform: translateY(30%);
  }
}

@media (min-width: 600px) {
  h1, h2, p {
    &.left {
      text-align: left !important;
    }

    &.h-center {
      text-align: center !important;
    }

    &.right {
      text-align: right !important;
    }
  }
  div {
    &.left {
      float: left !important;
    }

    &.h-center {
      float: none !important;
    }

    &.right {
      float: right !important;
    }
  }
}

@keyframes left-to-right-in {
  0% {
    transform: translateX(-100%);;
    letter-spacing: 5em;
    white-space: nowrap;
  }
  50% {
    transform: translateX(-20%);
    letter-spacing: 3em;
    white-space: nowrap;
  }
  99% {
    white-space: nowrap;
  }
  100% {
    letter-spacing: normal;
  }
}


@keyframes top-to-bottom-in {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-20%);
  }
}

@media (max-width: 767px) {
  /deep/ .carousel {
    height: 45vh !important;
  }

  /deep/ ngb-carousel .carousel-inner .carousel-item.active .carousel-caption {
    padding-bottom: 2em !important;
  }
}
