<div class="bank-info p-3">
  <h3>Información sobre el pago</h3>
  <ng-container *ngIf="!missingData; else contactAdmin">
    <p class="message">
      Tu pedido está pendiente de pago. Por favor, realiza una transferencia bancaria a la siguiente cuenta para
      completar
      el pedido.
    </p>
    <div class="account p-3">
      <p *ngIf="owner"><b>Beneficiario: </b> {{owner}}</p>
      <p><b>Cuenta bancaria: </b> <span class="number">{{account}}</span>
        <button class="btn btn-default w-auto copy d-none d-md-inline d-lg-inline" (click)="copyToClipboard()">
          <i class="fa fa-copy mr-2"></i>Copiar al portapeles</button>
      </p>
      <p><b>Concepto: </b>
          {{concept}} #{{ order.id }}
          <span *ngIf="order.name">- {{order.name}}</span>
          <span *ngIf="order.creationDate"> ({{order.creationDate | date: 'dd/MM/yyyy'}}) </span></p>
    </div>
    <p class="expire-alert mt-3">
        El pedido expirará automáticamente si no se realiza en los próximos 3 días. Por favor, asegúrate de realizar la
        transferencia del total antes de esta fecha.
    </p>
  </ng-container>

  <ng-template #contactAdmin>
    <p class="message">
      Tu pedido está pendiente de pago. Por favor, ponte en contacto con el adminsitrador para realizar una
      transferencia bancaria.
    </p>
  </ng-template>

</div>
