<div class="container-size" *ngIf="infoObject.link && infoObject.link.link; else infoObjectContent">
  <a class="link" *ngIf="infoObject.link.target == '_blank'" [href]="infoObject.link?.link | ngxLink"
     [target]="infoObject.link?.target">
    <ng-container [ngTemplateOutlet]="infoObjectContent"></ng-container>
  </a>
  <a class="link" *ngIf="infoObject.link.target != '_blank'" [routerLink]="infoObject.link?.link"
     [target]="infoObject.link?.target">
    <ng-container [ngTemplateOutlet]="infoObjectContent"></ng-container>
  </a>
</div>


<ng-template #infoObjectContent>
  <div class="info-object-container row" [ngStyle]="{'background-color': backgroundItem}"
       [ngClass]="textAlignment | ngxHorizontalAlignment">

    <div *ngIf="iconPosition | ngxObjectPositionMatch: ['TOP']" class="col-12">
      <ng-container [ngTemplateOutlet]="icon"></ng-container>
    </div>
    <div *ngIf="iconPosition | ngxObjectPositionMatch: ['LEFT']" class="col-12 col-md-6 col-lg-6 center-vertical">
      <ng-container [ngTemplateOutlet]="icon"></ng-container>
    </div>

    <div class="center-vertical" [ngClass]="{'col-12': iconPosition | ngxObjectPositionMatch: ['TOP', 'DOWN'],
                   'col-12 col-md-6 col-lg-6': iconPosition | ngxObjectPositionMatch: ['LEFT', 'RIGHT']}">
      <div *ngIf="infoObject.title">
        <b>{{infoObject.title}}</b>
      </div>
      <div *ngIf="infoObject.subtitle">
        {{infoObject.subtitle}}
      </div>
      <div *ngIf="infoObject.description">
        {{infoObject.description}}
      </div>

      <div class="button-style">
        <a *ngIf="infoObject.button && infoObject.button.target == '_blank'" class="align-center"
           [href]="infoObject.button.link | ngxLink"
           [target]="infoObject.button.target">
          <ng-container [ngTemplateOutlet]="optionalBtn"></ng-container>
        </a>

        <a *ngIf="infoObject.button && infoObject.button.target != '_blank'" class="align-center"
           [routerLink]="infoObject.button.link"
           [target]="infoObject.button.target">
          <ng-container [ngTemplateOutlet]="optionalBtn"></ng-container>
        </a>
      </div>
    </div>

    <div *ngIf="iconPosition | ngxObjectPositionMatch: ['RIGHT']" class="col-12 col-md-6 col-lg-6 center-vertical">
      <ng-container [ngTemplateOutlet]="icon"></ng-container>
    </div>

    <div *ngIf="iconPosition | ngxObjectPositionMatch: ['DOWN']" class="col-12">
      <ng-container [ngTemplateOutlet]="icon"></ng-container>
    </div>

    <ng-template #icon>
    <span *ngIf="!infoObject.image" class="fa-stack fa-3x">
      <i class="fa fa-circle fa-stack-2x icon-background"></i>
      <i [ngClass]="infoObject.icon" class="fa-stack-1x icon-color"></i>
    </span>
      <img class="img-size" *ngIf="infoObject.image" [src]="infoObject.image" [alt]="infoObject.title">

    </ng-template>

    <ng-template #optionalBtn>
      <button class="btn btn-default" *ngIf="infoObject.button">
        <i class="button-icon-style" *ngIf="infoObject.button.icon" [ngClass]="infoObject.button.icon"></i>
        <i class="button-icon-style" *ngIf="!infoObject.button.icon && infoObject.button.squareIcon"
           [ngClass]="infoObject.button.squareIcon"></i>
        {{infoObject.button.title}}
      </button>
    </ng-template>

  </div>
</ng-template>
