@import './../../../@theme/styles/colors';

a {
  text-decoration: none;
}

.container-size {
  height: 100%;
}

.info-object-container {
  padding: 1em;
  height: 100%;
}

.link {
  color: inherit !important;
}

.icon-background {
  color: $color-accent;
}

.icon-color {
  color: $bg-theme;
}

.right {
  text-align: right;
}

.button-style {
  padding-top: 0.5em;
}

.button-icon-style {
  padding-right: 0.3em;
}

.img-size {
  max-width: 100%;
  max-height: 100%;
}

.center-vertical {
  margin: auto;
}

.btn:hover {
  background-color: $color-corporate !important;
}
