<div id="shop-content">
  <div class="row" *ngIf="products && products.length > 0; else showNoProducts">
    <div class="col-12 col-lg-4 col-md-6 product-item" *ngFor="let product of products">
      <app-product-view [product]="product" [displayPrice]="displayPrice"
                        [displayEffects]="true" [displayCart]="displayCart"
                        (shoppingCartClick)="onShoppingCartClick($event)"></app-product-view>
    </div>

  </div>

  <ng-template #showNoProducts>
    <div class="no-products-style h-100">No hay productos disponibles.</div>
  </ng-template>

</div>
