@import './../../@theme/styles/colors';

.product-item {
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-products-style {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
}


/deep/ #shop-content .mat-paginator {
  background: inherit;
}

/deep/ #shop-content .mat-paginator-range-actions {
  margin: 0 auto;
  color: $color-corporate;
}
