<div class="product-detail-view-container pb-4 pb-md-1">
  <div class="row elements-padding">

    <div class="col-12 col-md-5 col-lg-5 p-2">
      <slideshow [imageUrls]="images" arrowSize="10px" height="247px" width="329px"></slideshow>
    </div>

    <div class="col-12 col-md-7 col-lg-7">

      <div class="row justify-content-between pb-2">
        <div class="col-md-8 col-lg-9 center-text-mobile pt-4 pt-md-0">
          <h1 class="name-style display-font text-uppercase h5">{{product.name}}</h1>
          <div class="pt-2 center pt-2">
            {{category?.name}}</div>
        </div>
        <div *ngIf="displayPrice"
             class="col-md-4 col-lg-3 pt-2 pt-md-0 align-right center-text-mobile font-weight-bold corporate-color">
          <span>{{product.price | price}}</span> <span class="iva-style"> - (IVA Incluido)</span>
        </div>
      </div>


      <div class="pt-3 pb-3 center-text-mobile">
        {{product.shortDescription ? product.shortDescription : "Sin descripción"}}</div>

      <div class="pb-2" *ngIf="viewAttributes && viewAttributes.length > 0">
        <mat-chip-list *ngFor="let attribute of viewAttributes">
          <div
            class="d-inline pt-3 pr-md-3 pr-md-2 col-md-2 center-mobile center-text-mobile mr-md-4 mr-xl-0">{{attribute.name}}</div>
          <div class="center-mobile pt-3">
            <mat-chip class="cursor-pointer chip" *ngFor="let attributeValue of attribute.values"
                      [ngClass]="{'selected-chip': attributeValue.isSelected, 'disabled-chip': !attributeValue.enabled}"
                      [selected]="attributeValue.isSelected"
                      (focus)="onMatChipChange(attributeValue)">{{attributeValue.value}}</mat-chip>
          </div>
        </mat-chip-list>
      </div>


      <div *ngIf="displayCart && product.stock" class="cart-style pb-4 center-text-mobile row">
        <div class="d-inline pr-md-3 pt-4 pr-md-2 col-md-2 center-mobile center-text-mobile mr-md-4 mr-xl-0">Cantidad
        </div>
        <div class="center-mobile pt-3 d-md-inline quantity-span center-auto-vertical">
          <i class="fa fa-minus cursor-pointer cart-icons p-2 cursor-pointer" (click)="removeQuantity()"></i>
          <span class="add-quantity noselect">{{quantity}}</span>
          <i class="fa fa-plus cursor-pointer cart-icons p-2 cursor-pointer" (click)="addQuantity()"></i>
        </div>
      </div>
      <div class="align-right center-text-mobile" *ngIf="product.stock; else showNoStock">
        <button type="reset" class="btn btn-default w-auto" (click)="addProductToCart()">
          <i class="fa fa-shopping-cart pr-3"></i>AÑADIR AL CARRITO
        </button>
      </div>
      <ng-template #showNoStock>
        <div class="align-center-mobile bold pt-4">No hay stock disponible.</div>
      </ng-template>
    </div>
  </div>
</div>
