@import './../../@theme/styles/colors';

.product-detail-view-container {
  background-color: $white;
  padding: 1.5em 2.5em;
}

.category-name:hover {
  opacity: 0.6;
}

.corporate-color {
  color: $color-corporate;
}

.iva-style {
  font-size: 0.75em;
}

.name-style {
  border-bottom: 1px solid $color-separator-bar;
  padding-right: 4em;
  padding-bottom: 0.25em;
}

.cart-style {
  margin-left: -4px;
}

.chip {
  border-radius: 0.2em;
  padding: 0.4em;
}

.chip:hover {
  background-color: $color-accent;
  color: $white;
}

.selected-chip {
  background-color: $color-corporate;
  color: $white;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.disabled-chip {
  opacity: 0.5;
}

.mat-standard-chip:focus {
  box-shadow: none;
  outline: none;
}

.cart-icons {
  background-color: $color-separator-bar;
  color: $white;
}

.add-quantity {
  padding-right: 1em;
  padding-left: 1em;
}

@media (max-width: 767px) {
  .product-detail-view-container {
    padding: 1em 1.5em;
  }

  .name-style {
    border-bottom: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
    text-align: center;
  }
}

/deep/ .product-detail-view-container .slideshow-container .slides {
  background-size: contain !important;
}

/deep/ body .product-detail-view-container .slideshow-container .arrow-container .arrow {
  border-top: 2px solid $black-opacity !important;
  border-left: 2px solid $black-opacity !important;
}
