<form #form="ngForm" class="form" (ngSubmit)="saveUserPassword()" *ngIf="email; else showLoading">
  <div class="form-group ">
    <label for="email-access">E-mail</label>
    <input class="form-control-plaintext" name="email-access" id="email-access"
           type="email" readonly [(ngModel)]="email" maxlength="50" disabled/>
  </div>
  <div class="form-group">
    <label for="old-password">Constraseña actual</label>
    <input class="form-control" name="old-password" id="old-password"
           type="password" maxlength="50" minlength="6" required [(ngModel)]="credentials.oldPassword" #oldPasswordValidate="ngModel"
           [class.input-error]="oldPasswordValidate.invalid && (oldPasswordValidate.touched || submitted)"/>
    <small class="requirements text-left" *ngIf="oldPasswordValidate.invalid && (oldPasswordValidate.touched || submitted)">
      {{oldPasswordValidate.errors | validation }}
    </small>
  </div>
  <div class="form-group">
    <label for="new-password">Nueva constraseña</label>
    <input class="form-control" name="new-password" id="new-password"
           type="password" maxlength="50" minlength="6" required [(ngModel)]="credentials.newPassword" #newPasswordValidate="ngModel"
           [class.input-error]="newPasswordValidate.invalid && (newPasswordValidate.touched || submitted)"/>
    <small class="requirements text-left" *ngIf="newPasswordValidate.invalid && (newPasswordValidate.touched || submitted)">
      {{newPasswordValidate.errors | validation }}
    </small>
  </div>
  <div class="form-group">
    <label for="verify-password">Verificar constraseña</label>
    <input class="form-control" name="verify-password"
           id="verify-password"
           type="password" maxlength="50" pattern="^{{credentials.newPassword}}$" minlength="6" required [(ngModel)]="credentials.verifyPassword"
           #verifyPasswordValidate="ngModel"
           [class.input-error]="verifyPasswordValidate.invalid && (verifyPasswordValidate.touched && newPasswordValidate.touched || submitted)"/>
    <small class="requirements text-left" *ngIf="verifyPasswordValidate.invalid && (verifyPasswordValidate.touched && newPasswordValidate.touched || submitted)">
      Las contraseñas no son iguales
    </small>
  </div>
  <div class="btn-toolbar pt-4">
    <div class="btn-group full-width center-mobile" role="group">
      <button type="submit" class="btn btn-default">Guardar</button>
    </div>
  </div>
</form>

<ng-template #showLoading>
  <div class="row justify-content-center spinner-padding">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
