@import '../../../@theme/styles/colors';

.featured-post {
  background-color: $soft-grey;

  .content {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .entry-img {
    object-fit: cover;
  }

  &.boxed {
    margin: 0 auto;
    max-width: 1600px;
  }

  .read-more {
    color: $white;
  }
  .read-more:hover {
    opacity: 0.7;
  }
}


