<div class="pb-3 mb-5 cursor-pointer" (click)="navigateToPost(post.link)">
  <div class="featured-post boxed row no-gutters">
    <div class="col-md-8 p-5 content">
      <h5 class="item-title h4">{{post.title}}</h5>
      <p class="item-description">{{post.description | readMore}}</p>
      <div class="align-right read-more pr-4 pt-3">
        <a class="read-more-link" >Leer más +
        </a>
      </div>
    </div>

    <img alt="noticia-destacada" class="entry-img col-md-4" src="{{post.image | imageUrl: defaultImg}}"/>
  </div>
</div>

