@import "../../../@theme/styles/colors";

form {
  & > fieldset {
    & > input, & > textarea {
      margin-bottom: 0.5rem !important;
      &.btn {
        margin: 0 0 0.5em 0 !important;
      }
    }
    & small.requirements {
      color: $color-error;
      text-align: left;
    }
  }
}

.form-group input, .form-group textarea, input[type="text"].form-control, input[type="number"].form-control,
input[type="email"].form-control, input[type="tel"].form-control, input[type="password"].form-control,
textarea.form-control, textarea.form-control:focus, select.form-control {
  background: $white !important;
  border: 1px solid $color-separator-bar;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 767px) {
  .full-width {
    width: 100%;
  }
}
