<form #form="ngForm" class="form" (ngSubmit)="saveUserData()" *ngIf="user; else showLoading">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input class="form-control" name="name" id="name"
           type="text" [(ngModel)]="user.name" maxlength="50" minlength="3"/>
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input class="form-control-plaintext" name="email" id="email"
           type="email" readonly [(ngModel)]="user.email" maxlength="50" disabled></div>
  <div class="btn-toolbar pt-4 align-center">
    <div class="mr-md-2 center-mobile" role="group">
      <button type="submit" class="btn btn-default w-auto">Guardar</button>
    </div>
  </div>
</form>

<ng-template #showLoading>
  <div class="row justify-content-center spinner-padding">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
