
  <form (ngSubmit)="loginUser()" #form="ngForm" name="form">
    <h4 class="center">INICIAR SESIÓN</h4>
    <p class="text-center">Accede a tu cuenta personal.</p>

    <div class="app-group">
      <input class="form-control" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
             [(ngModel)]="login.email" #emailValidate="ngModel"
             [class.input-error]="emailValidate.invalid && (emailValidate.touched || submitted)"
             minlength="1" maxlength="40" autocomplete="email"
             placeholder="Email *" required/>

      <small class="text-error" *ngIf="emailValidate.invalid && (emailValidate.touched || submitted)">
        {{emailValidate.errors | validation }}
      </small>
    </div>

    <div class="app-group">

      <input class="form-control" type="password" name="password"
             [(ngModel)]="login.password" #passwordLogin="ngModel"
             [class.input-error]="passwordLogin.invalid && (passwordLogin.touched || submitted)"
             minlength="6"
             placeholder="Contraseña *" autocomplete="current-password"
             required/>

      <small class="text-error" *ngIf="passwordLogin.invalid && (passwordLogin.touched || submitted)">
        {{ passwordLogin.errors | validation }}</small>
    </div>

    <div class="app-group align-center">
      <a [routerLink]="rememberAccess">¿Has olvidado tu contraseña?</a>
    </div>

    <div class="app-group col-md-10 center">
      <button [disabled]="loading" class="btn btn-default" [class.btn-pulse]="loading">
        ACCEDER
      </button>
    </div>
  </form>
