@import './../../../@theme/styles/colors';

.btn-footer-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.product-detail-section {
  min-height: 30em;
  margin-top: 4em;
}

.loading-div {
  display: flex;
  z-index: 2;
}

.not-found-style {
  min-height: 30em;
  width: fit-content;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  section.boxed {
    padding: 0;
  }
  .product-detail-section {
    margin-top: 0;
  }
}
