<div *ngIf="loading" class="loading-div justify-content-center loading-square spinner-padding">
    <div class="center-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>

<section class="boxed product-detail-section center animated zoomIn">

  <div class="shop-container row" *ngIf="product; else productNotFound">
    <div class="product-detail col-md-12">

      <div>
        <app-product-detail-view *ngIf="product" [product]="product" [displayPrice]="shopConfig.displayPrice"
          [displayCart]="shopConfig.displayCart"
           (shoppingCartClick)="addProductToCart($event)">
        </app-product-detail-view>
      </div>

      <div class="tabs-content">
        <app-tabs [tabsData]="tabsData"></app-tabs>
      </div>

    </div>
  </div>

  <ng-template #productNotFound>
    <div class="not-found-style center">
      Producto no encontrado
    </div>
  </ng-template>

</section>
