<div *ngIf="loading" class="row h-100 justify-content-center loading-square p-5">
  <div class="center-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="p-md-5">
  <section *ngIf="orderItems && orderItems.length > 0; else showEmptyCart"
           class="boxed center card-section pb-3 animated zoomIn">
    <h5>CARRITO</h5>

    <ng-container *ngTemplateOutlet="desktop"></ng-container>
    <ng-container *ngTemplateOutlet="mobile"></ng-container>

    <section class="row boxed pt-5 pb-2">
      <p class="h3">TOTAL</p>
      <table class="table">
        <tbody>
        <tr class="row no-gutters">
          <th class="col-6 thead-custom p-3 text-uppercase font-weight-bold">Subtotal <em>(IVA incluido)</em></th>
          <td class="col-6 p-3">{{totalPrice | price}}</td>
        </tr>

        <tr *ngIf="deliveryPrices" class="row no-gutters animated rubberBand">
          <th class="col-6 thead-custom p-3 text-uppercase font-weight-bold">Envío</th>
          <td class="col-6 p-3"
              *ngIf="hasDeliveryCost; else freeDelivery">{{deliveryPrices.price | price}}
            (Gratis con pedidos superiores a {{deliveryPrices.freeDeliveryThreshold | price}})
          </td>
          <ng-template #freeDelivery>
            <td class="col-6 p-3">
              Gratis
            </td>
          </ng-template>
        </tr>

        <tr class="row no-gutters">
          <th class="col-6 thead-custom p-3 text-uppercase font-weight-bold">Total</th>
          <td
            class="col-6 p-3 font-weight-bold">
            {{(totalPrice + (deliveryPrices && deliveryPrices.price && deliveryPrices.freeDeliveryThreshold > totalPrice ? deliveryPrices.price : 0)) | price}}</td>
        </tr>
        </tbody>
      </table>
    </section>

    <div class="align-center">
      <button [disabled]="loading" class="btn btn-default w-auto" (click)="next($event)"><i
        class="fa fa-credit-card-alt pr-2"></i>Pagar
      </button>
    </div>
  </section>


  <ng-template #desktop>
    <table class="table desktop">
      <thead class="thead-custom">
      <tr>
        <th class="text-uppercase" scope="col"></th>
        <th class="pl-md-4 text-uppercase" scope="col">Producto</th>
        <th class="text-uppercase" scope="col">Precio</th>
        <th class="text-uppercase" scope="col">Cantidad</th>
        <th class="text-uppercase" scope="col">Total</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of orderItems">
        <tr>
          <th scope="row" width="2%"><i class="fa fa-2x fa-times cursor-pointer remove" (click)="removeItem(item)"></i>
          </th>
          <td width="65%">
            <div class="row product-item">
              <img [src]="item.product.images[0] | imageUrl"
                   class="my-auto" alt=""/>
              <div class="col-md-8 col-12 row">
                <a class="text-decoration-none col-md-6 col-12 my-auto cursor-pointer"
                   [routerLink]="productDetailRoute + '/' + item.product.slug">
                  <h5 >{{item.product.name}}</h5>
                </a>
                <div class="col-md-6 col-12 my-auto">
                  <ng-container [ngTemplateOutlet]="productAttrs"
                                [ngTemplateOutletContext]="{item:item}"></ng-container>
                </div>
              </div>
            </div>
          </td>
          <td width="10%">
            <h6 class="w-100 center-auto-vertical pl-1">{{item.product.price | price}}</h6>
          </td>
          <td width="13%">
            <label class="sr-only" for="quantity">Quantity</label>
            <input id="quantity" class="form-control" type="number" [(ngModel)]="item.quantity" min="1"
                   (keydown)="$event.preventDefault()" (ngModelChange)="updateCart()"/></td>
          <td width="10%">
            <h6 class="w-100 center-auto-vertical pl-1">{{(item.product.price * item.quantity) | price}}</h6>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-template>

  <ng-template #mobile>
    <table class="table mobile">
      <tbody>
      <ng-container *ngFor="let item of orderItems">
        <tr>
          <td colspan="2" class="product-item">
            <img [src]="item.product.images[0] | imageUrl"
                 class="my-auto"/>
            <div class="d-flex">
              <h5 class="my-auto">{{item.product.name}}</h5>
              <i class="pl-2 fa fa-info-circle fa-2x" [ngbTooltip]="productAttrsTooltip"></i>
              <ng-template #productAttrsTooltip>
                <ng-container [ngTemplateOutlet]="productAttrs" [ngTemplateOutletContext]="{item:item}"></ng-container>
              </ng-template>
            </div>
          </td>
          <td class="text-right">
            <i class="fa fa-2x fa-times cursor-pointer remove" (click)="removeItem(item)"></i>
          </td>
        </tr>
        <tr class="table-light">
          <th class="text-uppercase">Precio</th>
          <th class="text-uppercase">Cantidad</th>
          <th class="text-uppercase align-center">Total</th>
        </tr>
        <tr>
          <td width="35%">
            <h6 class="w-100 center-auto-vertical text-center">{{item.product.price | price}}</h6>
          </td>
          <td width="30%">
            <label class="sr-only" for="input-quantity">Quantity</label>
            <input id="input-quantity" class="form-control" type="number" #inputQuantity
                   [ngModel]="item.quantity" (ngModelChange)="checkRange($event, item, inputQuantity)"
                   min="1"/></td>
          <td width="35%">
            <h6 class="w-100 center-auto-vertical text-center">{{(item.product.price * item.quantity) | price}}</h6>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-template>
</div>

<ng-template #productAttrs let-item='item'>
  <p *ngFor="let attributeValue of item.attributeValues">
    <b>{{attributeValue.name}}</b>: {{attributeValue.value}}
  </p>
</ng-template>

<ng-template #showEmptyCart>
  <section class="empty-cart boxed center card-section pb-3 animated zoomIn">
    <div class="center">
      <div class="h3 display-font center align-center">Todavía no tienes artículos en tu carrito, ve a la tienda para
        añadirlos.
      </div>
      <div class="pt-3 align-center">
        <button class="btn btn-default w-auto center" [routerLink]="shopRoute">IR A TIENDA</button>
      </div>
    </div>
  </section>
</ng-template>
