@import './../../../@theme/styles/colors';

$square: 8em;
$square-mobile: 5em;

.empty-cart {
  min-height: 30em;
  display: flex;
  align-items: center;
}

.card-section {
  background-color: $white;
}

i.remove {
  color: $color-error;
}

th, td {
  vertical-align: middle;
  justify-content: center;
}

td input {
  max-width: 7em;
  background: white;
  border: 1px solid $color-input-border;
  border-radius: 0;
}

select {
  height: 3.5em;
  background: $white !important;
  border: 1px solid $color-separator-bar;
  cursor: pointer;
}

select:disabled {
  opacity: 0.5;
}

.thead-custom {
  background-color: $color-table-section;
}

.product-item {
  img {
    max-height: $square;
    height: $square;
    width: $square;
    max-width: $square;
    object-fit: contain;
    margin: auto 1em;
  }
}

.icon-coupon {
  font-size: 2em;
  margin-left: 0.5em;
}

.table {
  border: 1px solid $color-input-border;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 850px) {

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  .card-section {
    margin: 0;
  }

  .product-item {
    img {
      max-height: $square-mobile;
      height: $square-mobile;
      width: $square-mobile;
      max-width: $square-mobile;
      object-fit: contain;
      margin: auto 1em;
    }
  }
}

.position-right {
  margin: 0 0 0 auto;
}

.coupon-check {
  margin-left: 1em;
  color: green;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
}

.coupon-no-check {
  margin-left: 1em;
  color: red;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
}

mat-spinner {
  color: $color-corporate;
}
