/* ================================================
   Forms & Buttons
   ================================================ */

.btn {
    border-radius: 5px;
    border: none;
    font-family: $button-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold !important;
    color: $white !important;
    padding: 10px 15px;
    width: 100%;
}


.btn-modal {
    font-weight: bold !important;
    padding: 0.5em 1.2em !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn.btn-default {
    color: $color-text-light;
    font-weight: bold;
    background-color: $color-corporate !important;
}

.btn-secondary {
    background-color: $white;
    color: $color-text;
    border: 1px solid $white;
}

.btn-secondary:hover {
    background-color: $dark-grey;
    border: 1px solid $white;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: $color-corporate-light;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active,
.btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: $dark-grey;
}

.btn-lg {
    font-weight: 700 !important;
    padding: 15px 40px !important;
}
