/** BASIC COLORS***/
$white: #FFFFFF;
$black: black;
$dark-grey: #2a2b2d;
$middle-grey: #828281;
$soft-grey: #b5b5b4;
$black-opacity: #00000045;

$color-corporate: $black;
$color-corporate-light: #e74c3c;
$color-accent: #428bf2;
$color-accent-light: $white;

/** DARK THEME ***/
$color-text-dark: $white;
$bg-dark: $dark-grey;
$color-corporate-dark: $color-corporate;
$color-accent-dark: $color-corporate-light;
$color-link-dark: $color-corporate-light;
$color-accent-link-dark: $color-accent;
$color-text-grid-dark: $white;
$color-text-footer-dark: $middle-grey;
$bg-info-object-dark: #3f4043;
$bg-menu: $bg-dark;
$bg-sticky: $bg-dark;
$color-menu-toggle: #f6f6f6;


/*** WHITE THEME ***/
$color-text-light: #4b4b4b;
$bg-light: #f6f6f6;
$color-corporate-light: $color-corporate;
$color-accent-light: $color-corporate-light;
$color-link-light: $color-corporate-light;
$color-accent-link-light: $color-accent;
$color-text-topbar: $color-text-light;
$color-text-topbar-hover: $color-accent-light;
$color-text-grid-light: $black;
$color-text-footer-light: $color-corporate-light;
$bg-info-object-light: #eae9e9;
$bg-menu: $bg-light;
$bg-sticky: $bg-light;
$color-menu-toggle: $bg-dark;


/** BASICS THEME **/
$color-corporate: $color-corporate-light;
$color-accent: $color-accent-light;
$color-text: $color-text-light;
$color-text-grid: $color-text-grid-light;
$color-text-modal: #e9e5dd;
$bg-theme: $bg-light;
$bg-opacity-light: rgba(#f8f9fa, 0.64);
$bg-menu: $bg-theme;
$bg-sticky: $bg-theme;
$color-menu-toggle: $bg-dark;

/*** BACKGROUND ***/
$color-topbar: $white;
$color-shop-topbar: rgba(#E0E0E0, 0.44);
$color-disable-input: #f9f9f9;
$color-box-shadow: #ccc;
$color-input-background: #ececec;
$color-input-border: #ccc;
$color-image-filter: rgba(37, 37, 39, 0.74);

/*** ERRORS **/
$color-error: #e13130;


/*** SEPARATOR BAR **/
$color-separator-bar: #979797;

/*** FORMS **/
$color-table-section: #f3f3f3;


