/****------------ THEME General styles: titles, buttons... ----------- *******/

/*** GENERAL(kit multiusos!)***/

.line {
  border-bottom: .1rem solid $color-corporate-light;
}

.display-font {
  font-family: $display-font;
}

.primary-color {
  color: $color-corporate;
}

.primary-color-darker {
  color: $color-corporate-light;
}

/*** Alignments ***/

.center {
  margin: 0 auto;
}

.center-important {
  margin: 0 auto!important;
}

.center-auto-vertical {
  margin: auto 0;
}

.center-auto {
  margin: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*** TEXT ***/

.bold {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}

.text-decoration-line {
  text-decoration: underline;
}

.display-font {
  font-family: $display-font;
}

/*** LINKS ***/

.cursor-pointer, a, button, label {
  cursor: pointer !important;
}

.vertical-align-content {
  display: flex;
  align-items: center;
}

/*** ERRORS ***/

.danger, .text-error, .form-control-danger {
  color: $color-error;
}

.input-error {
  border: 1px solid $color-error !important;
}

.cursor-pointer, a, button {
  cursor: pointer !important;
}

.loading-square {
  position: absolute;
  width: 100%;
  height: 70%;
  background: $bg-opacity-light;
  z-index: 10;
}

.loading-square mat-progress-spinner#progress {
  margin: 20% auto 0;
}

/deep/ .mat-progress-spinner circle, .mat-spinner circle {
  stroke: $color-accent;
}

/*** IMAGES **/
.parallax {
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .center-text-mobile {
    text-align: center;
  }

  .center-mobile {
    margin: 0 auto;
    text-align: center;
  }

  .left-text-mobile {
    text-align: left;
  }

  .align-center-mobile {
    text-align: center !important;
  }
}


.src-only {
  display: none;
}
