@import './theme';
@import './helpers';
@import './buttons';

/****------------ Styles for all application (not from the main theme) -------------------------- *******/
$card-elevation-product: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$card-elevation-product-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$card-elevation-product-active: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
