@import url(https://fonts.googleapis.com/css?family=Abel:900,800,700,600,400,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,400,300,200,100);
@import './colors';
@import './variables';

/****------------ Theme General styles: titles, buttons... ----------- *******/
/** This file get's all styles for  this default theme, and will be reused in all projects **/

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: $color-text;
  font-family: $font-family-text;
  overflow-x: hidden;
}

html body {
  font-family: $font-family-text;
  background-color: $bg-theme;
  font-size: 1rem;
  overflow-x: hidden;
}

.dark-theme {
  color: $color-text-dark;
  background-color: $bg-dark;

  a {
    color: $color-corporate-dark;
    text-decoration: underline;
  }

  a:hover{
    color: $color-accent-dark;
  }

  &#contact a {
    color: $color-link-dark;
    &:hover {
      color: $color-accent-link-dark;
    }
  }

  .info-object-container:hover {
    background-color: $bg-info-object-dark;
  }

  app-grid-item .grid h3 {
    color: $color-text-grid-dark;
  }

  h5.footer-title {
    color: $color-text-dark !important;
  }

  a.item-link {
    color: $color-text-footer-dark;
  }

  a:hover.item-link {
    color: $color-accent-dark;
  }

}

.accent-theme {
  color: $color-text-light;
  background-color: $bg-light;

  a {
    color: $color-corporate-light;
    text-decoration: underline;
  }

  a:hover{
    color: $color-accent-light;
  }

  app-grid-item .grid h3 {
    color: $color-text-grid;
  }

  h5.footer-title {
    color: $color-text !important;
  }

  a.item-link {
    color: $color-text-footer-light;
  }

  a:hover.item-link {
    color: $color-accent-light;
  }
}

.light-theme {
  color: $middle-grey;
  background-color: $white;

  a {
    color: $color-corporate-light;
    text-decoration: underline;
  }

  a:hover{
    color: $color-accent-light;
  }
  &#contact a {
    color: $color-link-light;
    &:hover {
      color: $color-accent-link-light;
    }
  }

  .info-object-container:hover {
    background-color: $bg-info-object-light;
  }

  app-grid-item .grid h3 {
    color: $color-text-grid-light;
  }

  h5.footer-title {
    color: $color-text-light !important;
  }

  a.item-link {
    color: $color-corporate-light;
  }

  a:hover.item-link {
    color: $color-accent-light;
  }
}

/*** TEXT ***/

.small, small {
  font-weight: 700;
  display: block;
  text-transform: none;
  text-align: center;
  margin: 0.5em 0 0.5em;
}

a {
  color: $color-corporate;
  text-decoration: underline;
}

a:hover{
  color: $color-accent;
}

/** TITLES ***/

html body .h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title;
  color: $color-text;
  width: fit-content;
  font-weight: bold!important;
  padding-bottom: .3em;
}

/*** SECTIONS ***/
section.boxed {
  padding: 1em 2em 3em 2em;
}

/*** FORMS ***/
.form-group input, .form-group textarea,
input[type="text"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="tel"].form-control, input[type="password"].form-control,
textarea.form-control,textarea.form-control:focus,
select.form-control {
  border: $color-input-border;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: $color-input-background;
  padding: 10px 15px;
}


:focus {
  outline: none;
}
