/** FONTS **/
$font-family-text: "Roboto", cursive;
$font-family-title: "Abel", sans-serif !important;
$font-family-buttons: "Abel", cursive;
$font-family-menu: "Roboto", cursive;
$display-font: "Abel", sans-serif !important;
$button-font: "Roboto", cursive;

/*** HEADER HEIGHT ***/
$header-height: 60vh;
$header-height-big: 100vh;
$menu-height: 15em;
$menu-sticky-height: 15em;


