<div id="header" [class.parallax]="this.hasParallaxEffect" class="header"
     [style.background-image]="'url(' + background + ')'" (click)="onImageClick()">
  <section class="header-section row align-items-center no-gutters" [class.big]="displayLogo">
    <div class="title-block col">
      <div *ngIf="displayLogo" class="logo align-center">
        <a href="./index.html">
          <img src="assets/logo-trans-white.png" class="logo image" alt="logo">
        </a>
      </div>
      <h1 *ngIf="title" class="header-title">{{title}}</h1>
      <h3 class="subtitle align-center" *ngIf="subtitle">{{subtitle}}</h3>
      <h5 class="subtitle-small white align-center center col-md-4 col-sm-12"
          *ngIf="subtitleSmall">{{subtitleSmall}}</h5>
    </div>
  </section>
</div>
