@import './../../styles/colors';
@import './../../styles/variables';

#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-section {
  height: $header-height;
  width: 100%;
  background-color: $color-image-filter !important;
}

.big {
  height: $header-height-big;
}

.header-section .title-block {
  width: 100%;
  padding-top: 6em;
}

.header-section .title-block .header-title {
  color: $white;
  font-size: 3.5em;
  margin: 0 auto;
  text-transform: inherit;
  text-align: center;
}

.header-section .title-block .subtitle {
  font-weight: 400;
  color: $soft-grey;
  font-size: 2em !important;
  padding-top: 0.5em;
  text-transform: uppercase !important;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;

}

.subtitle-small {
  font-weight: 300;
  letter-spacing: .2em;
}

.header-section .logo.image {
  height: auto !important;
  max-width: 30em;
  width: 50%;
}

@media (max-width: 568px) {
  .header-section .title-block .header-title {
    font-size: 2em;
  }

  .header-section .title-block {
    font-size: 1em;
  }

  .header-section {
    height: 60vh;
  }

  .header-section .title-block .subtitle {
    font-size: 1.5em !important;
  }
}
