<form class="row no-gutters active-cyan-2" (ngSubmit)="emitSearch()">
  <input [(ngModel)]="productName" name="search" class="form-control col-10"
         type="text" placeholder="Buscar productos..." aria-label="Buscar"/>

  <a class="col-2 pl-2 search-icon-container" type="submit" title="Buscar" (click)="emitSearch()">
    <i class="fa fa-search"></i>
  </a>
</form>
