<div id="home">
  <app-slide *ngIf="slideObjects" [slideObjects]="slideObjects" [displayArrows]="true" [displayPoints]="true"
             [interval]="6000" [height]="height"></app-slide>


  <section class="boxed light-theme animated fadeInUp">
    <app-info-grid [iconPosition]="objectPosition.LEFT" [infoObjects]="infoObjects" columnClass="col-lg-3"
                   [textAlignment]="horizontalAlignment.RIGHT"></app-info-grid>
  </section>

  <section class="dark-theme mb-5 animated fadeInUp">
    <app-call-to-action [object]="bannerInfo"
                        background="https://png.pngtree.com/thumb_back/fh260/back_pic/00/02/06/18560fdccac9aa7.jpg"
                        [parallaxEffect]=true
                        buttonPosition="block"
                        [textAlignment]="bannerTextAlignment">
    </app-call-to-action>
  </section>

  <section *ngIf="questions && questions.length > 0" class="boxed light-theme animated fadeInUp">
    <h3 class="center">FAQS</h3>
    <app-faqs [questions]="questions" [openedIcon]="'fa fa-minus-circle'" [closedIcon]="'fa fa-plus-circle'"></app-faqs>
  </section>

</div>
