@import './../../@theme/styles/colors';

.zoom-img {
  position: fixed;z-index: 100;background-color: rgba(0,0,0,0.5);height: 100%;width: 100%;top: 0;left: 0;
  img {
    width: 75%;height: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);
  }
}
