@import './../../../@theme/styles/styles';

.product-view-container {
  border-radius: 0.3em;
  padding-bottom: 1em;
  height: 100%;
  box-shadow: $card-elevation-product;
  transition: 0.4s;
}

.product-title {
  margin-top: 1em;
}

.padding {
  padding-left: 1em;
  padding-right: 1em;
}

.product-view-container-effect:hover {
  box-shadow: $card-elevation-product-hover;
}

.product-view-container-effect:active {
  box-shadow: $card-elevation-product-active;
}

.product-text {
  font-size: 0.75em;
}

.img-size {
  width: 100%;
  height: 15em;
  object-fit: contain;
  object-position: center;
}

.cart h5:hover {
  color: $color-accent;
}

.cart h5 {
  margin-top: 0.5em;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
  color: $color-accent;
  margin-top: 0.5em;
}

.see-detail {
  transition: 0.3s;
}

.see-detail:hover {
  color: $color-corporate;
}
