<a class="text-decoration-none" [routerLink]="productDetailRoute + '/' + product.slug">
  <div class="product-view-container" [ngClass]="{'product-view-container-effect': displayEffects}">

    <div class="col-12">
      <img class="img-size" [src]=" product.images | imageUrl"
           alt="imagen de producto"></div>

    <div class="col-12 row no-gutters">
      <div class="padding w-100">
        <h5 class="center text-center product-title">{{product.name}}</h5>
      </div>
      <div
        class="center w-100 align-center padding price pb-3">
          <span *ngIf="product.price">
          {{product.price | price}}
          </span>
      </div>

      <div class="align-center w-100 cart see-detail p-2">
        <div class="align-center center-text-mobile" *ngIf="displayCart && allowPurchase">
          <button type="reset" class="btn btn-default w-auto"
                  (click)="addProductToCart($event);">
            <i class="fa fa-shopping-cartpr-3"></i>AÑADIR AL CARRITO
          </button>
        </div>
      </div>
      <h5 class="center cursor-pointer see-detail">VER DETALLE</h5>
    </div>
  </div>
</a>

