<div *ngIf="tabsData &&  tabsData.length > 0">
  <mat-tab-group class="mat-tab-group-style">
    <mat-tab *ngFor="let tabItem of tabsData" [label]="tabItem.title">
      <div *ngIf="tabItem.content; else emptyView" class="tab-content" [innerHTML]="tabItem.content"
           [ngClass]="{'cursor-pointer': tabItem.hasOnClick}" (click)="onTabItemClick(tabItem)"></div>
      <ng-template #emptyView>
        <div class="tab-content">{{tabItem.emptyView}}</div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
