<ngu-carousel [inputs]="carousel" [dataSource]="items">
  <button NguCarouselPrev class="carousel-buttons left-button btn rounded-circle"><i class="fa fa-chevron-left"></i></button>
  <ngu-item *nguCarouselDef="let item;" class="card-item rounded">
    <div class="item-content">
      <div class="images">
        <img [src]="item.image | imageUrl" [alt]="item.image.alt ? item.image.alt : 'imagen'" (click)="onItemClick(item)" class="card-img-top" (error)="setDefaultPic(item)"/>
        <img src="assets/new.png" alt="new" role="status" class="new-item" *ngIf="item.isNew"/>
      </div>
      <div class="card-body text-center">
        <div class="card-title" [innerHTML]="item.title">
        </div>
        <div class="item-content" [innerHTML]="item.price | price">
        </div>
        <a class="btn btn-primary text-decoration-none row" [href]="button.link | ngxLink" [target]="button.target">
          <i class="fa col-1" [ngClass]="button.icon"></i>
          <span class="col-11">{{button.title}}</span>
        </a>
      </div>
    </div>
  </ngu-item>
  <button NguCarouselNext class="carousel-buttons right-button btn rounded-circle"><i class="fa fa-chevron-right"></i></button>
</ngu-carousel>
