@import './../../@theme/styles/colors';

ngu-carousel {
  ngu-item > div.item-content {
    margin: 0 1.2em 1.2em 1.2em;

    -webkit-box-shadow: 0.3em 0.5em 1em -5px $color-box-shadow;
    -moz-box-shadow: 0.3em 0.5em 1em -5px $color-box-shadow;
    box-shadow: 0.3em 0.5em 1em -5px $color-box-shadow;

    &:hover {
      -webkit-box-shadow: 0.3em 0.5em 1.5em $color-box-shadow;
      -moz-box-shadow: 0.3em 0.5em 1.5em $color-box-shadow;
      box-shadow: 0.3em 0.5em 1.5em $color-box-shadow;
      div.images {
        img.new-item {
          max-height: 5em;
          max-width: 5em;
        }
      }
    }

    div.images {
      position: relative;
      img.new-item {
        max-height: 4em;
        max-width: 4em;
        position: absolute;
        right: -1.5em;
        top: 1.5em;
        transition: max-width 0.2s, max-height 0.2s;
      }

      img.card-img-top {
        height: 18em;
        object-fit: contain;
      }
    }

    a.btn {
      margin: 0.375em 0;
    }
  }

  button.carousel-buttons {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 3.4em;
    height: 3.4em;
    &.left-button {
      left: 0;
    }
    &.right-button {
      right: 0;
    }
    &.btn {
      background-color: $color-corporate;
      padding: 0;
      &:hover {
        box-shadow: none;
        background-color: $color-accent;
      }
    }
  }
}
