<div *ngIf="expandableViewList && expandableViewList.length >0; else showNoFaqs">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let expandableView of expandableViewList"
                         (opened)="expandableView.panelOpenState = true"
                         (closed)="expandableView.panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{expandableView.object.question}}
        </mat-panel-title>
        <mat-panel-description class="justify-content-end">
          <i [ngClass]="expandableView.panelOpenState ? openedIcon : closedIcon"></i>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{expandableView.object.answer}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #showNoFaqs>
  <div>No hay FAQS disponibles.</div>
</ng-template>


