@import "../../@theme/styles/colors";

/** TEXT **/
.title-modal {
  margin-top: 3.8em;
  width: 100%;
  text-align: center;
}

.title-modal .main-title {
  font-size: 1.1rem !important;
  font-weight: bold;
  text-transform: uppercase;
}

.header-icon {
  position: absolute;
  top: -2em;
  right: 0;
  width: 100%;
  text-align: center;
}

.header-icon i {
  border: 1px solid $soft-grey;
  padding: .3em;
  font-size: 3.5em !important;
  border-radius: 10em;
  background-color: $bg-light;
  color: $color-corporate;
}

.modal-header {
  height: auto;
  color: $white;
  background-color: $color-accent;
}

.modal-header button:focus {
  outline: none;
}

.modal-header button:hover {
  outline: 5px auto -webkit-focus-ring-color;
}

.modal-footer .btn {
  width: 55%;
}

.modal-footer .btn#dismiss {
  margin-right: 2%;
}

.modal-footer {
  border: none;
  text-align: center;
  justify-content: center;
  background: $bg-light;
  padding-bottom: 1.7em;
}

.modal-body {
  background: $bg-light;
  padding: 1em 1.5em;
}

option, select {
  font-weight: bold;
  color: $color-text;
}

.mat-progress-spinner {
  margin: 1em auto;
}


/*** Payment ***/

#card-info {
  width: 100%;
}

#card-errors {
  font-size: .9em;
  margin: 1em;
  width: 100%;
}

form.checkout {
  text-align: center;
  color: $color-text;
  font-size: 1.1rem;
}

.StripeElement {
  margin: 1rem 1rem 0;
  background-color: $white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 $bg-light;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  font-weight: bold !important;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 $color-box-shadow;
}

.StripeElement--invalid {
  border-color: $color-error;
}

.StripeElement--webkit-autofill {
  background-color: $color-accent !important;
}
