<div class="modal-header">
  <div class="header-icon">
    <i class="fa fa-credit-card "></i>
  </div>
  <div class="title-modal">
    <h3 class="main-title center">Pago con tarjeta</h3>
  </div>

  <button class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form (ngSubmit)="createToken()" class="checkout" id="payment-form">
  <div class="modal-body">

    <div class="form-row" [hidden]="loading">
      <label for="card-element">
      </label>
      <div id="card-element" class="w-100">
      </div>

      <div id="card-errors" role="alert" class="text-error mb-0" [ngClass]="{'invisible': !error, 'visible': error}">{{error ? error : "Introduce tu tarjeta"}}</div>

    </div>

    <mat-progress-spinner *ngIf="loading" class='modal-progress' id='progress' mode='indeterminate'
                          [diameter]='80'></mat-progress-spinner>
  </div>

  <div class="modal-footer" *ngIf="!loading">
    <button id="dismiss" class="btn btn-md btn-default" (click)="dismissModal()">Cancelar</button>
    <button class="btn btn-md btn-default">Pagar {{price | price}}</button>
  </div>


</form>
