<section class="access center">
  <div class='row justify-content-center'>

    <mat-card class='col-lg-6 col-md-10 col-sm-11 access-card'>
      <form (ngSubmit)="updatePassword()" #form="ngForm">
        <div *ngIf="loading" class="loading-div justify-content-center loading-square spinner-padding">
          <div class="center-auto">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <h4 class="center">INTRODUCE UNA NUEVA CONTRASEÑA </h4>

        <div class="app-group">
          <label class="sr-only" for="password"></label>
          <input class="form-control" id="password" type="password" name="password" [(ngModel)]="password"
                 autocomplete="new-password"
                 #newPassword="ngModel" [class.input-error]="newPassword.invalid && (newPassword.touched || submitted)"
                 maxlength="6" placeholder="Contraseña *" required/>

          <small class="text-error" *ngIf="newPassword.invalid && (newPassword.touched || submitted)">
            {{ newPassword.errors | validation }}</small>
        </div>

        <div class="app-group">
          <label class="sr-only" for="password-repeated"></label>
          <input id="password-repeated" class="form-control" type="password" name="confirmedPassword"
                 [(ngModel)]="passwordConfirmed"
                 #confirmedPassword="ngModel" autocomplete="new-password"
                 [class.input-error]="(confirmedPassword.invalid || (password != passwordConfirmed) )&& (confirmedPassword.touched || submitted)"
                 maxlength="6" placeholder="Confirmar contraseña *" required/>

          <small class="text-error" *ngIf="confirmedPassword.invalid && (confirmedPassword.touched || submitted)">
            {{ confirmedPassword.errors | validation }}
          </small>

          <small class="text-error"
                 *ngIf="(password != passwordConfirmed ) && (confirmedPassword.touched || submitted) && !confirmedPassword.invalid">
            Las contraseñas no son iguales
          </small>

        </div>


        <div class="col-md-10 center app-group">
          <button [disabled]="loading" class="btn btn-default btn-confirm" [class.btn-pulse]="loading">
            CONFIRMAR
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</section>
