@import './../../@theme/styles/colors';
.sidebar-style {
  padding: 0 0.8em;
}

.box div.product-padding {
  padding: 0.2em 0.1em 0.5em 0.1em;
}

.box {
  margin-bottom:2em;
}

.product-title {
  margin-top:1em;
}
