<div class="row sidebar-style">

  <div class="sidebar-style">

    <div class="box">
      <app-search-product [productName]="productName" (onSearch)="searchProduct($event)"></app-search-product>
    </div>

    <div class="box prices" *ngIf="this.priceFilter">
      <h4>FILTRAR POR PRECIO</h4>
      <app-range-slider [minValue]="priceFilter.minValue" [maxValue]="priceFilter.maxValue"
                        [options]="priceFilter.options"
                        (onMaxValueSelected)="setMaxValue($event)"
                        (onMinValueSelected)="setMinValue($event)"></app-range-slider>

      <div class="row">
        <button class="btn btn-default" (click)="filterPriceProducts()">Filtrar</button>
        <span class="pl-3 pr-3 center-auto-vertical"> Rango de precio: {{minSelected}}
          € - {{maxSelected ? maxSelected : priceFilter?.maxValue}}€</span>
      </div>
    </div>


    <div class="box" *ngIf="listSimpleFilter && listSimpleFilter.items && listSimpleFilter.items.length > 0">
      <app-filter-list [items]="listSimpleFilter.items" [title]="listSimpleFilter.title"
                       [listSelected]="listSimpleFilter.selectedItems"
                       (onItemsSelected)="filterItemsListFilterSelected($event)"></app-filter-list>
    </div>

    <div class="box" *ngIf="this.dropdownFilter && this.dropdownFilter.items && this.dropdownFilter.items.length > 0">
      <app-filter-select [items]="dropdownFilter.items" [title]="dropdownFilter.title"
                         [listSelected]="dropdownFilter.selectedItems"
                         (onItemSelected)="filterItemsSelectFilterSelected($event)"></app-filter-select>
    </div>

    <div class="box" *ngIf="productFeatured && productFeatured.productList && productFeatured.productList.length > 0">
      <h4>PRODUCTOS DESTACADOS</h4>
      <div class="col-12 product-padding no-gutters" *ngFor="let product of productFeatured.productList">
        <app-product-view [product]="product" [displayEffects]="true"></app-product-view>
      </div>
    </div>

    <div class="box" *ngIf="this.bannerList &&  this.bannerList.object && this.bannerList.object.objectList.length > 0">
      <div *ngFor="let banner of bannerList.object.objectList">
        <app-call-to-action [object]="banner"></app-call-to-action>
      </div>
    </div>

    <div class="box" *ngIf="this.displaySocialMedia">
      <app-social class="social-icons" [iconsType]="iconType"></app-social>
    </div>

    <div class="row sidebar-style">
      <button class="btn btn-default" (click)="clearFilters()">LIMPIAR FILTROS</button>
    </div>

  </div>


</div>

