<section id="topbar" class="row topbar-nav vertical-align-content justify-content-around"
         [ngClass]="{'flex-start': alignmentType==alignment.LEFT, 'center': alignmentType==alignment.CENTER, 'flex-end': alignmentType==alignment.RIGHT}">

<div class="topbar-section social-links col-md-3 col-lg-4 col-xl-3 justify-content-center justify-content-md-start">
  <ng-container>
    <a>
      <app-social class="social-icons" [iconsType]="iconType"></app-social>
    </a>
  </ng-container>
</div>

<div class="topbar-section route-links col-lg-4 col-xl-4 justify-content-center d-none d-lg-flex">
  <ng-container *ngFor="let item of linksItems">
    <a class="item-link" *ngIf="item.link" [href]="item.link | ngxLink" [target]="item.target">
      <i *ngIf="item.icon" [ngClass]=item.icon></i>
      {{item.title}}
    </a>
  </ng-container>
</div>

<div class="topbar-section contact-links col-md-5 col-lg-4 col-xl-4 justify-content-center justify-content-md-end">
  <ng-container *ngFor="let item of contactLinksItems">
    <a class="item-link" *ngIf="item.link" [href]="item.link | ngxLink" [target]="item.target">
      <i *ngIf="item.icon" [ngClass]=item.icon></i>
      {{item.title}}
    </a>
  </ng-container>
</div>
</section>
