@import './../../../@theme/styles/colors';

.topbar-nav {
  background-color: $color-topbar;
  height: auto;
  padding: 0.5em;
}

.item-link {
  margin-left: 1em;
}

.topbar-section {
  display: flex;
  white-space: nowrap;
}

a {
  color: $color-text-topbar;
}

a:hover {
  color: $color-text-topbar-hover;
  text-decoration-line: none;
}

/deep/ .topbar-section.social-links app-social {

  a {
    color: $color-text-topbar !important;
  }

  a:hover {
    color: $color-text-topbar-hover !important;
    text-decoration-line: none;
  }
}
