<div *ngIf="title"><h4>{{title}}</h4></div>

<div *ngIf="items && items.length > 0">
  <div *ngFor="let value of items; let i = index">
    <mat-form-field *ngIf="value.values && value.values.length > 0">

      <mat-label>{{value.name}}</mat-label>
      <mat-select [(value)]="selectedValue[i]" (selectionChange)="onItemChange(value, $event)">
        <mat-option *ngFor="let subValue of value.values" [value]="subValue.value">{{subValue.value}}</mat-option>
      </mat-select>

    </mat-form-field>
  </div>
</div>
