<section class="banner-call-to-action"
         [style.background-image]="'url(' + background + ')'"
         [class.parallax]="parallaxEffect">

  <div class="banner-content"
       [ngClass]="textAlignment | ngxHorizontalAlignment">

    <span class="h3" [style.color]="textColor">{{object.title}}</span>
    <span class="h5 center" [style.color]="textColor" [style.display]="buttonPosition">{{object.description}}</span>
    <a class="btn btn-primary" [href]="object.button.link | ngxLink" [target]="object.button.target">
      <i [ngClass]="object.button.icon"></i>
      {{object.button.title}}
    </a>
  </div>
</section>
