@import './../../@theme/styles/colors';

.banner-call-to-action {
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {
  display: block;
}

a.btn {
  margin: 1em;
  width: auto;
  text-decoration: none;
}
