<section class="boxed p-0 p-md-4 center min-height">
  <ng-container *ngIf="!loading; else showLoading">
    <app-order-detail [order]="order" (onPrint)="print()"></app-order-detail>
  </ng-container>
</section>

<ng-template #showLoading>
  <div class="row justify-content-center center-auto min-height">
    <mat-spinner class="center-auto"></mat-spinner>
  </div>
</ng-template>
