<div *ngIf="loading" class="row h-100 justify-content-center loading-square p-5">
  <div class="center-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="p-md-5">
  <section class="boxed p-0 center animated slideInRight">
    <app-user-data-component [userData]="userData" [checkOrder]="checkOrder"
                             [delivery]="billingAddress" [isLogged]="isLogged"
                             [displayStripe]="displayStripe"
                             [class.loading]="loading" (onSubmit)="submit($event)"
                             [orderItems]="orderItems" [totalPrice]="totalPrice"></app-user-data-component>
  </section>
</div>
