@import './../../../@theme/styles/colors';

div.content {

  .products {
    div.product-item {
      border: 1px solid $color-table-section;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      margin-left: 0;
      margin-right: 0;

      img {
        max-height: 5em;
        width: 100%;
        height: auto;
        max-width: 5em;
        object-fit: contain;
      }
    }
  }
}

.form-check {
  margin-left: -1.2em;
  input[type="radio"] {
    &:checked + input {
      background-color: $color-corporate;
    }
  }
}

.summary {
  background-color: $color-table-section;
}

.summary-item {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.order-payment-title {
  border-bottom: 1px solid $color-separator-bar;
  padding-right: 5em;
}

.link {
  color: $color-accent;
}

.link:hover {
  opacity: 0.6;
}
