<div class="content">
  <div class="products mb-1 overflow-hidden" *ngIf="orderItems && orderItems.length > 0">
    <ng-container *ngFor="let item of orderItems">
      <div class="product-item row">
        <div class="col-2 center-auto-vertical">
          <div class="col-md-2">x{{item.quantity}}</div>
        </div>
        <div class="col-10 col-md-8 center-auto-vertical row">
          <div class="col-5 center-auto-vertical pl-1 pr-1">
            <img [alt]="item.product?.images[0]?.alt" [src]="item.product.images[0] | imageUrl"/>
          </div>
          <h5 class="col-7">{{item.product.name}}</h5>
        </div>
        <div class="col-12 col-md-2 center-auto-vertical align-right center-text-mobile pt-4 pt-md-0">
          {{item.product.price | price}}
        </div>
      </div>
    </ng-container>
    <div class="product-item row">
      <div class="col-2 center-auto-vertical">
        <div class="col-md-2">x1</div>
      </div>
      <div class="col-10 col-md-8 center-auto-vertical row">
        <div class="col-5 center-auto-vertical pl-1 pr-1">
        </div>
        <h5 class="col-7">Gastos de envío</h5>
      </div>
      <div class="col-12 col-md-2 center-auto-vertical align-right center-text-mobile pt-4 pt-md-0"
           *ngIf="hasDeliveryCost; else freeDelivery">{{deliveryPrices.price | price}}
      </div>
      <ng-template #freeDelivery>
        <div class="col-12 col-md-2 center-auto-vertical align-right center-text-mobile pt-4 pt-md-0">Gratis
        </div>
      </ng-template>

    </div>
    <div class="summary">
      <div class="summary-item row justify-content-center mb-0">
        <p class="col-5 mb-0 font-weight-bold text-uppercase">Total</p>
        <p class="col-5 mb-0 text-right">{{(+totalPrice + (hasDeliveryCost ? deliveryPrices.price : 0)) | price}}</p>
      </div>

    </div>
  </div>
  <section class="shipping-fees"></section>
  <section class="payment-methods">

    <form class="form-group">
      <fieldset>
        <legend class="order-payment-title w-auto pt-3 mb-3">Opciones de pago</legend>
        <label class="checkbox-container col-md-12" *ngFor="let choice of paymentTypes" for="{{choice}}-radio">
          <input class="checkbox" type="radio" name="paymentType" id="{{choice}}-radio"
                 [value]="choice" [checked]="paymentType == choice" [(ngModel)]="paymentType" required/>
          <span class="checkmark">
            <span class="pl-5">{{choice | paymentType}}</span>
          </span>
        </label>
      </fieldset>
    </form>

    <div *ngIf="!isLogged" class="col-md-8 center-important">
      <label class="checkbox-container">
        <input type="checkbox" name="privacyPolicy" id="privacy"
               value="privacy" [(ngModel)]="privacyPolicy" required/>
          <span class="pl-2">He leído y acepto las condiciones de uso y
          la política de privacidad</span>
      </label>

    </div>

  </section>
  <section class="purchase align-center pt-3">
    <button class="btn btn-default w-auto" (click)="submit()">Finalizar pedido</button>
  </section>
</div>
