<a *ngIf="target == '_blank'" [href]="link | ngxLink" [target]="target">
  <ng-container [ngTemplateOutlet]="gridComponent"></ng-container>
</a>

<a *ngIf="target != '_blank'" [routerLink]="link" [target]="target" [queryParams]="query">
  <ng-container [ngTemplateOutlet]="gridComponent"></ng-container>
</a>

<ng-template #gridComponent>
  <div class="grid grid-item-container cursor-pointer">
    <img [src]="image | imageUrl" alt="Imagen"
         class="image" (error)="setDefaultPic()">
    <div class="middle">
      <h3 class="text">{{title}}</h3>
    </div>
  </div>
</ng-template>
