@import './../../../@theme/styles/colors';

.grid-item-container {
  position: relative;
  width: 100%;
  border-radius: 1em;
  background-color: $black;
  overflow: hidden;
}

.image {
  opacity: 0.6;
  display: block;
  width: 100%;
  height: 15em;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 1em;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  h3 {
    color: $white;
  }
}

.grid-item-container:hover .image {
  opacity: 0.3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.grid-item-container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 1.5em;
  padding: 0.5em 1em;
}

.grid-item-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}
