@import '../../@theme/styles/colors';
@import '../../@theme/styles/variables';

.tag-input {
  display: flex;
}

mat-form-field {
  height: 3.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em !important;
  font-family: $display-font !important;
  border: 1px solid $color-separator-bar;
  border-radius: 0.3em;
}

.locality-error {
  border: 1px solid $color-error;
  border-radius: 0.3em;
}

.disabled-input {
  opacity: 0.5;
}
