<div class="tag-input">
  <form autocomplete="off" class="w-100">
    <mat-form-field class="w-100" [ngClass]="{'disabled-input': disabled, 'locality-error': localError}">
      <input matInput autocomplete="false" [matAutocomplete]="auto" [formControl]="formCtrl"
             (keyup)="keyUp($event)"/>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addElement()">
        <mat-option *ngFor="let element of filteredList | async" [value]="element">
          <span>{{ element.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
