@import './../../@theme/styles/colors';

#blog {

  .blog-content > .row {
    margin: 0 auto;
  }

  .entry-card .item-title {
    color: $color-text;
    font-weight: bold;
  }

  .entry-card {
    margin-bottom: 2em;
    background: white;
  }

  img.entry-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
    max-height: 200px;
  }

  p.item-description {
    margin-bottom: 1em;
    word-break: break-word;
  }

  .controls {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .circle {
    margin: .5em;
    background-color: $color-corporate;
    color: $white;
    font-weight: bold;
    padding: .5em .9em;
    border-radius: 100%;
  }

  .circle:hover {
    background-color: $color-accent;
  }

  .navigator {
    margin: 0em .5em;
    border-radius: 100%;
    font-size: 1.5em;
    padding: .5em;
  }

  .navigator:hover {
    color: $middle-grey;
  }

  .navigator.disabled {
    color: $middle-grey;
    cursor: inherit !important;
  }

  .selected {
    background-color: $color-accent;
  }

  .read-more-link {
    width: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;

  }

  .landing-post {
    border: 1px solid $dark-grey;
    background: $white;
    margin-bottom: 2em;
    border-radius: 5px;
    height: 26em;
    width: 100%;

    .img-section {
      height: 100%;
    }

    .content {
      padding: 1em;
    }

    img.entry-img {
      max-height: none;
      margin-bottom: 0;
      height: 100%;
    }
  }
}

@media(max-width: 768px) {

  #blog .landing-post {
    height: 100vh;

    .img-section {
      height: auto;
    }
  }

  .entry-card {
    margin: auto;
  }

}

.box-decoration {
  background-color: $soft-grey;
  position: absolute;
  top: 50%;
  height: 30vh;
}
