<div id="blog">
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="itemsToDisplay; else noPost">
      <div class="mt-5 boxed center blog-content pb-5" *ngIf="!loading && portraitMode; else landingMode">
        <div class="col-md-10 row">
          <div class="col-md-12 mx-auto">
            <app-featured-post *ngIf="featuredPost" [post]="featuredPost"></app-featured-post>
          </div>

          <div class="col-md-6 cursor-pointer" *ngFor="let item of itemsToDisplay" (click)="navigateToPost(item.link)">
            <div [ngClass]="{'entry-card': true}">
              <img [alt]="item.image?.alt" class="entry-img" src="{{item.image | imageUrl: defaultImg}}"/>
              <div class="p-3">
                <h5 class="item-title">{{item.title}}</h5>
                <p class="item-description">{{item.description | readMore}}</p>
                <div class=" read-more text-right mb-3 align-self-end">
                  <a class="read-more-link" >Leer más +
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template class="mt-5 boxed center blog-content pb-5" #landingMode>
        <div class="mt-5 boxed center pb-5">
          <div class="row landing-post no-gutters cursor-pointer" *ngFor="let item of itemsToDisplay; let i = index" (click)="navigateToPost(item.link)">
            <div class="col-md-6 img-section order-md-1">
              <img [alt]="item.image?.alt" class="entry-img" src="{{item.image | imageUrl: defaultImg}}"/>
            </div>
            <div [ngClass]="{
                'col-md-6 content': true,
                'order-md-1': i % 2 == 0
                }">
              <div [ngClass]="{
                  'row no-gutters mb-3' : true,
                  'justify-content-md-end' : i % 2 == 0
                }">
                <h5 class="item-title">{{item.title}}</h5>
              </div>
              <p class="item-description left-text-mobile pl-lg-5"
                 [class.align-right]="i % 2 == 0">{{item.description | readMore}}</p>
              <div class="col-md-12 read-more text-right left-text-mobile mb-3 align-self-end">
                <a class="read-more-link" (click)="navigateToPost(item.link)">Leer más +
                </a>
              </div>
            </div>
          </div>
        </div>

      </ng-template>

      <div class="controls align-center" *ngIf="showPagination && this.page != this.maxPage">
        <button class="btn btn-default" (click)="nextPage()">Ver más</button>
      </div>
    </ng-container>

    <ng-template #noPost>
      No hay noticias por ahora, prueba más tarde.
    </ng-template>
  </ng-container>

</div>
