<section class="access center-auto">
  <div class='row justify-content-center'>
    <mat-card>
      <div *ngIf="loading" class="loading-div justify-content-center loading-square spinner-padding">
        <div class="center-auto">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <form (ngSubmit)="rememberPasswordService()" #form="ngForm" name="form">
        <h4 class="pt-5 center align-center font-weight-bold text-color">RESTABLECER CONTRASEÑA</h4>
        <p class="text-center">Introduce tu email y te enviaremos instrucciones para recuperar tu contraseña</p>

        <div class="app-group pt-4 col-md-10 center">
          <label for="email">E-MAIL</label>
          <input id="email" class="form-control" type="email" name="email"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                 [(ngModel)]="emailFound" #emailValidate="ngModel"
                 [class.input-error]="emailValidate.invalid && (emailValidate.touched || submitted)" minlength="1"
                 maxlength="40" placeholder="Email *" required/>

          <small class="text-error" *ngIf="emailValidate.invalid && (emailValidate.touched || submitted)">
            {{emailValidate.errors | validation }}
          </small>
        </div>

        <div class="app-group col-md-10 center align-center btn-confirm">
          <button [disabled]="loading" class="btn btn-default w-auto" [class.btn-pulse]="loading">
            ENVIAR
          </button>
        </div>

      </form>
    </mat-card>
  </div>
</section>
