@import './../access.component.scss';

.text-color {
  color: $black;
}

.loading-div {
  display: flex;
  z-index: 2;
  height: 100%;
}

label {
  font-size: 1em;
  font-weight: bold;
}

.form-group input, .form-group textarea, input[type="text"].form-control, input[type="number"].form-control,
input[type="email"].form-control, input[type="tel"].form-control, input[type="password"].form-control,
textarea.form-control, textarea.form-control:focus, select.form-control {
  background: $white !important;
  border: 1px solid $color-separator-bar;
}

.btn-confirm {
  padding-top: 6em;
  padding-bottom: 3em;
}
