<div class="profile-container d-flex p-md-5">

  <section class="w-100 profile-section row boxed center-important pt-5" *ngIf="!loading; else showLoading">
    <div class="col-md-4 col-lg-3 col-12 mb-3 animated rollIn">
      <div class="d-flex pb-3">
        <i class="fa fa-user-circle fa-5x center"></i>
      </div>

      <a routerLink="/mi-cuenta"
         class="menu-item border-bottom-none" [class.active]="selectedTab == myProfileTabs.MY_DATA">
        <span>Mis datos</span>
      </a>
      <a routerLink="/mi-cuenta" [queryParams]="{tab: myProfileTabs.MY_ORDERS}"
         class="menu-item border-bottom-none" [class.active]="selectedTab == myProfileTabs.MY_ORDERS">
        <span>Mis pedidos</span>
      </a>
      <a routerLink="/mi-cuenta" [queryParams]="{tab: myProfileTabs.CHANGE_PASSWORD}"
         class="menu-item border-bottom-none" [class.active]="selectedTab == myProfileTabs.CHANGE_PASSWORD">
        <span>Cambiar contraseña</span>
      </a>
      <a class="menu-item" (click)="logOutModal()">
        <span>Cerrar sesión</span>
      </a>
    </div>
    <div class="col-md-8 col-lg-9 col-12 animated fadeInRight">
      <div>
        <div *ngIf="selectedTab == myProfileTabs.MY_DATA" class="animated fadeIn">
          <ng-container [ngTemplateOutlet]="userData"></ng-container>
        </div>
        <div *ngIf="selectedTab == myProfileTabs.MY_ORDERS" class="animated fadeIn">
          <ng-container [ngTemplateOutlet]="orders"></ng-container>
        </div>
        <div *ngIf="selectedTab == myProfileTabs.CHANGE_PASSWORD" class="animated fadeIn">
          <ng-container [ngTemplateOutlet]="password"></ng-container>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #userData>
  <h2>Mis Datos</h2>
  <app-user-data [user]="user" (onSaveUserData)="saveUserData($event)"></app-user-data>
</ng-template>

<ng-template #orders>
  <h2>Mis pedidos</h2>
  <app-user-orders [orderList]="orderList"></app-user-orders>
</ng-template>

<ng-template #password>
  <h2>Cambiar contraseña</h2>
  <app-user-access #access [email]="user.email" [credentials]="credentials"
                   (onSaveUserPassword)="saveUserPassword($event)"></app-user-access>
</ng-template>

<ng-template #showLoading>
  <div class="row boxed justify-content-center spinner-padding profile-loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
