@import './../../@theme/styles/colors';

.profile-container {
  min-height: 50em;
}

.profile-section {
  background-color: $white;
}

.menu-item {
  display: block;
  border: 1px solid $color-separator-bar;
  color: $color-text !important;
  background-color: $white;
  padding: 0.5em;
}

.menu-item:hover {
  font-weight: bold;
}

.menu-item.active {
  font-weight: bold;
  background-color: $color-accent !important;
  color: $color-text-dark !important;
}

.border-bottom-none {
  border-bottom: none;
}

.profile-loading {
  display: flex;
  align-items: center;
  margin: auto;
}

section.boxed {
  max-width: 1200px;
}

/deep/
input:disabled {
  opacity: 0.5;
}
